<article id="istc">
    <section class="row">
        <h4>ISTC 2018<hr></h4>

        <p><a href="http://www.eie.polyu.edu.hk/turbocodes2018/ISTC_2018/Home.html" target="_blank">The International Symposium on Turbo Codes & Iterative Information Processing (ISTC) 2018</a> will take place in Hong Kong from December 3 – 7, the week after ITW 2018. Hong Kong is only 120 km southeast of Guangzhou with a train journey of 2 hours. For travel information, you can see in our <a href="{{ url_for('travel.hongkong') }}">Travel page</a>.</p>

    </section>
</article>