<article id="home">
    <section class="row">
        <h4>Welcome to ITW 2018 in Guangzhou!
            <hr>
        </h4>
        <p>ITW 2018 solicits and welcomes original contributions on the frontiers of information theory, coding theory and their applications, as well as the frontiers with other fields such as data science, biology and signal processing. The conference structure consists of a daily plenary seminar followed by two parallel paper sessions throughout the day.</p>
        <p>Guangzhou, the third largest city in mainland China and known as the "Southern Capital," is renowned for the enterprising spirit and open-mindedness of its people throughout its history of over 2,000 years. The conference attendees will have an opportunity to sample a vibrant local culture and partake in some of the best Cantonese cuisine. The conference venue is the Sun Yat-sen University Kaifeng Hotel, located within the university campus where the attendees can explore many historic architectures and artifacts, including the famous Swacey Hall, Xing Pavilion, Scholar Archway and many others.</p>

        <p>The conference provides many opportunities for informal interaction through social events, including the welcome reception on November 25, Pearl River night cruise on November 26, banquet at the Sky No. 1 Restaurant on November 27, and an excursion to Baiyun Mountain on November 28. A pleasant surprise awaits the attendees who stay at the conference through its final day.</p>

        <p>We look forward to adding to the tradition of successful ITWs in the mainland, including ITW Beijing 1988 and Chengdu 2006. With appreciation and anticipation, we look forward to welcoming you in Guangzhou.</p>
        <br>
        <p>The general chairs,<br>
                  Pingzhi Fan, Aria Nosratinia, Li Chen</p>
    </section>

    <section class="row">
        <h4>Scope of Submission
            <hr>
        </h4>
        <p style="margin-bottom: 0">Original papers on <b>Information and Coding Theory</b> are encouraged for submission. Our special interests include:</p>

        <ul id="scope-of-submission">
            <li>Information Theory and its Applications</li>
            <li>Frontiers of Coding Theory and Practice</li>
            <li>Boundaries between Information Theory and Data Science, Biology and Signal Processing</li>
            <li>Network Information Theory</li>
            <li>Network Coding and Distributed Storage</li>
            <li>Information Theoretic Security</li>
        </ul>
    </section>

    <section class="row">
        <h4>Important Dates
            <hr>
        </h4>
        <p><b>Paper submission</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; May 18, 2018</p>
        <p><b>Acceptance notification</b> &nbsp;&nbsp;&nbsp;	August 13, 2018</p>
        <p><b>Final paper submission</b> &nbsp;&nbsp;&nbsp;	September 13, 2018</p>
        <p><b>Tutorial proposal submission</b> &nbsp;&nbsp;&nbsp;  March 1, 2018</p>
        <p><b>Tutorial acceptance notification</b>&nbsp;&nbsp;&nbsp; March 15, 2018</p>
    </section>

    <section class="row">
        <h4>ISTC 2018 in Hong Kong
            <hr>
        </h4>
        <p><a href="http://www.eie.polyu.edu.hk/turbocodes2018/ISTC_2018/Home.html" target="_blank">The International Symposium on Turbo Codes & Iterative Information Processing (ISTC) 2018</a> will take place in Hong Kong on December 3 - 7, the week after ITW 2018. Hong Kong is only 120 km southeast of Guangzhou with a train journey of 2 hours.</p>
    </section>
</article>