<!DOCTYPE html>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">

    <title>ITW2018</title>

    <link href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" type="text/css">

    <script src="{{ url_for('static', filename='js/jquery-3.1.0.min.js') }}"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </head>

  <body>
    
    <!-- 固定导航栏 -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">

       

        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li class="dropdown" onmouseover="show_sub_menu('#sub-menu1');" onmouseout="hide_sub_menu('#sub-menu1');">
              <a href="#" aria-haspopup="true" aria-expanded="false">Program <span><i class="fa fa-sm fa-caret-down" style="font-size: 14px"></i></span></a>
              <ul id="sub-menu1" class="dropdown-menu">
                <li><a href="#">At Glance</a></li>
                <li><a href="#">Full Program</a></li>
                <li><a href="#">Plenary Talks</a></li>
                <li><a href="#">Invited Papers</a></li>
                <li><a href="#">Tutorial Call</a></li>
              </ul>
            </li>
            <li class="dropdown" onmouseover="show_sub_menu('#sub-menu2');" onmouseout="hide_sub_menu('#sub-menu2');">
              <a href="#" aria-haspopup="true" aria-expanded="false">Committee <i class="fa fa-sm fa-caret-down" style="font-size: 14px"></i></span></a>
              <ul id="sub-menu2" class="dropdown-menu">
                <li><a href="#">Organizing Committee</a></li>
                <li><a href="#">Technical Program Committee</a></li>
              </ul>
            </li>
            <li class="dropdown" onmouseover="show_sub_menu('#sub-menu3');" onmouseout="hide_sub_menu('#sub-menu3');">
              <a href="#" aria-haspopup="true" aria-expanded="false">Call for Papers <span><i class="fa fa-sm fa-caret-down" style="font-size: 14px"></i></span></a>
              <ul id="sub-menu3" class="dropdown-menu">
                <li><a href="#">Submission</a></li>
                <li><a href="#">Author Guideline</a></li>
                <li><a href="#">Important Dates</a></li>
                <li><a href="#">CFP Flyer</a></li>
              </ul>
            </li>
            <li class="dropdown" onmouseover="show_sub_menu('#sub-menu4');" onmouseout="hide_sub_menu('#sub-menu4');">
              <a href="#" aria-haspopup="true" aria-expanded="false">Social Events <span><i class="fa fa-sm fa-caret-down" style="font-size: 14px"></i></span></a>
              <ul id="sub-menu4" class="dropdown-menu">
                <li><a href="#">Welcome Reception</a></li>
                <li><a href="#">Night Cruise</a></li>
                <li><a href="#">Banquet</a></li>
                <li><a href="#">Excursion</a></li>
                <li><a href="#">Strolling at SYSU Campus</a></li>
              </ul>
            </li>
            <li><a href="#">Registration</a></li>
            <li class="dropdown" onmouseover="show_sub_menu('#sub-menu5');" onmouseout="hide_sub_menu('#sub-menu5');">
              <a href="#" aria-haspopup="true" aria-expanded="false">Venue <span><i class="fa fa-sm fa-caret-down" style="font-size: 14px"></i></span></a>
              <ul id="sub-menu5" class="dropdown-menu">
                <li><a href="#">Main Hall</a></li>
                <li><a href="#">Session Theatres</a></li>
                <li><a href="#">Guest Rooms</a></li>
                <li><a href="#">From Airport</a></li>
                <li><a href="#">From Train Station</a></li>
              </ul>
            </li>
            <li><a href="#">Accommodation</a></li>
            <li class="dropdown" onmouseover="show_sub_menu('#sub-menu6');" onmouseout="hide_sub_menu('#sub-menu6');">
              <a href="#" aria-haspopup="true" aria-expanded="false">Travel <span><i class="fa fa-sm fa-caret-down" style="font-size: 14px"></i></span></a>
              <ul id="sub-menu6" class="dropdown-menu">
                <li><a href="#">About Guangzhou</a></li>
                <li><a href="#">About SYSU</a></li>
                <li><a href="#">Cantonese Cuisine</a></li>
                <li><a href="#">Visa Information</a></li>
                <li><a href="#">Guangzhou to Hong Kong</a></li>
              </ul>
            </li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div><!--/.nav-collapse -->

      </div>
    </nav>


    <div class="content-wrap">
      <div class="container">
        
        <!-- 轮播图 -->
        <div class="row">
          <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-generic" data-slide-to="1"></li>
              <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <img class="d-block img-fluid"
                         src="{{ url_for('static',filename='images/carousel_1-min.jpg') }}" alt="图片1">
              </div>
              <div class="item">
                <img class="d-block img-fluid"
                         src="{{ url_for('static',filename='images/carousel_2-min.jpg') }}" alt="图片2">
              </div>
              <div class="item">
                <img class="d-block img-fluid"
                         src="{{ url_for('static',filename='images/carousel_3-min.jpg') }}" alt="图片3">
              </div>
            </div>
          </div>
        </div>

        <!-- 导航栏标签的内容容器 -->
        <div class="detail-content" >
            <article>

              <section class="row">
                <h2>Introduction
                  <hr>
                </h2>
                <p> &nbsp;&nbsp;&nbsp;&nbsp; The 2017 IEEE Information Theory Workshop
                will take place in Kaohsiung, Taiwan, from November 6 to 10, 2017.
                Based at the southern tip of the island and facing the Taiwan
                Strait, Kaohsiung is the second largest city in Taiwan and is one of
                the major seaports in Asia. Love-River cruises, night markets,
                delicious seafood, and day tours out into nature or to historic
                Tainan are some of the many attractions awaiting you in Southern
                Taiwan. Situated directly by the waterfront, the Kaohsiung
                Exhibition Center (KEC) serves as workshop venue. It is a brand-new
                and multi-functional facility, designed by an international,
                pro-environment team of architects and built in a shape reminding of
                a billowing sail. The workshop participants will have an
                unforgettable experience visiting and enjoying some of the most
                dazzling attractions in Kaohsiung. </p>
              </section>

              <section class="row">
                <h2>Call for Papers
                  <hr>
                </h2>
                <p style="margin-bottom: 0px;">Interested authors are encouraged to submit previously unpublished
                contributions in all areas of information theory with special
                emphasis on the following:
                </p>

                <br>
                <ul style="list-style:none;margin:0;padding:0">
                  <li>Information Theory for Content Distribution</li>
                  <li>- Distributed data storage</li>
                  <li>- Peer-to-peer network coded broadcasting</li>
                  <li>- Coded caching for wireless and wireline transmissions</li>
                  <li>- Delay-constrained communications</li>
                </ul>
                <br>
                <ul style="list-style:none;margin:0;padding:0">
                  <li>Information Theory for Content Distribution</li>
                  <li>- Distributed data storage</li>
                  <li>- Peer-to-peer network coded broadcasting</li>
                  <li>- Coded caching for wireless and wireline transmissions</li>
                  <li>- Delay-constrained communications</li>
                </ul>

              </section>

              <section class="row">
                <h2>Video
                  <hr>
                </h2>
                <div class="col-md-4">
                  <video style="max-width:100%;" src="{{ url_for('static',filename='images/movie.ogg') }}" controls="controls"></video>
                </div>
                <div class="col-md-8">
                  <p style="margin-bottom: 0px;">According to the Ministry of Foreign Affairs, citizens of the following countries can visit Taiwan without visa for a certain period.
    Andorra, Australia, Austria, Belgium, Bulgaria, Canada, Chile, Croatia, Cyprus, Czech Republic, Denmark, Estonia, Finland, France, Germany, Greece, Hungary, Iceland, Ireland, Israel, Italy, Japan, Republic of Korea, Latvia, Liechtenstein, Lithuania, Luxembourg, Malaysia, Malta, Monaco, the Netherlands, New Zealand, Norway, Poland, Portugal, Romania, San Marino, Singapore, Slovakia, Slovenia, Spain, Sweden, Switzerland, U.K., U.S.A. and Vatican City State.

    For details or up-to-date information of visa application, you shall check the link of the Ministry of Foreign Affairs provided above. If you have to apply for a visa, this website also provides you the link to your nearest Taiwan Embassy. An invitation letter for Visa Application will be issued upon request when necessary.
                </p>
                </div>
              </section>  

            </article>
        </div>


        <!-- 赞助商logo -->
        <div id="sponser-content" class="row">
          <section id="sponsers">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 sponser-img">
              <a href="https://www.ieee.org/index.html" target="_blank"><img src="{{ url_for('static',filename='images/IEEE.png') }}" alt="IEEE"></a>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 sponser-img">
              <a href="http://www.huawei.com/cn/" target="_blank"><img src="{{ url_for('static',filename='images/HUAWEI.png') }}" alt="HUAWEI"></a>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 sponser-img">
              <a href="http://www.zte.com.cn/china/" target="_blank"><img src="{{ url_for('static',filename='images/ZTE.png') }}" alt="ZTE"></a>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 sponser-img">
              <a href="https://www.tencent.com/en-us/index.html" target="_blank"><img src="{{ url_for('static',filename='images/Tencent.png') }}" alt="Tencent"></a>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 sponser-img">
              <a href="https://www.ieee.org/index.html" target="_blank"><img src="{{ url_for('static',filename='images/IEEE.png') }}" alt="IEEE"></a>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 sponser-img">
              <a href="http://www.huawei.com/cn/" target="_blank"><img src="{{ url_for('static',filename='images/HUAWEI.png') }}" alt="HUAWEI"></a>
            </div>
          </section>
        </div>
      </div><!--end content-container-->

      <!-- 网页尾部 -->
      <footer>
          <div class="copyright">
              <div class="container">
                  <i class="fa fa-copyright"></i>2018 - ITW2018. All rights reserved <br>
                  ITW2018 Organizing Committee
             </div>
          </div>
      </footer>

    </div><!--end content-wrap-->
  </body>
</html>