{% extends 'base.html' %}

{% block title %}ITW 2018{% endblock %}
{% block header_ext %}{% endblock %}

{% block content %}
    <div class="container">
        <!-- 导航栏标签的内容容器 -->
        <div class="detail-content" >
            <article>
              <section class="row">
                <h2>Introduction
                  <hr>
                </h2>
                <p> &nbsp;&nbsp;&nbsp;&nbsp; The 2017 IEEE Information Theory Workshop
                will take place in Kaohsiung, Taiwan, from November 6 to 10, 2017.
                Based at the southern tip of the island and facing the Taiwan
                Strait, Kaohsiung is the second largest city in Taiwan and is one of
                the major seaports in Asia. Love-River cruises, night markets,
                delicious seafood, and day tours out into nature or to historic
                Tainan are some of the many attractions awaiting you in Southern
                Taiwan. Situated directly by the waterfront, the Kaohsiung
                Exhibition Center (KEC) serves as workshop venue. It is a brand-new
                and multi-functional facility, designed by an international,
                pro-environment team of architects and built in a shape reminding of
                a billowing sail. The workshop participants will have an
                unforgettable experience visiting and enjoying some of the most
                dazzling attractions in Kaohsiung. </p>
              </section>

              <section class="row">
                <h2>Call for Papers
                  <hr>
                </h2>
                <p style="margin-bottom: 0px;">Interested authors are encouraged to submit previously unpublished
                contributions in all areas of information theory with special
                emphasis on the following:
                </p>

                <br>
                <ul style="list-style:none;margin:0;padding:0">
                  <li>Information Theory for Content Distribution</li>
                  <li>- Distributed data storage</li>
                  <li>- Peer-to-peer network coded broadcasting</li>
                  <li>- Coded caching for wireless and wireline transmissions</li>
                  <li>- Delay-constrained communications</li>
                </ul>
                <br>
                <ul style="list-style:none;margin:0;padding:0">
                  <li>Information Theory for Content Distribution</li>
                  <li>- Distributed data storage</li>
                  <li>- Peer-to-peer network coded broadcasting</li>
                  <li>- Coded caching for wireless and wireline transmissions</li>
                  <li>- Delay-constrained communications</li>
                </ul>
              </section>

              <section class="row">
                <h2>Video
                  <hr>
                </h2>
                <div class="col-md-4">
                  <video style="max-width:100%;" src="{{ url_for('static',filename='images/movie.ogg') }}" controls="controls"></video>
                </div>
                <div class="col-md-8">
                  <p style="margin-bottom: 0px;">According to the Ministry of Foreign Affairs, citizens of the following countries can visit Taiwan without visa for a certain period.
    Andorra, Australia, Austria, Belgium, Bulgaria, Canada, Chile, Croatia, Cyprus, Czech Republic, Denmark, Estonia, Finland, France, Germany, Greece, Hungary, Iceland, Ireland, Israel, Italy, Japan, Republic of Korea, Latvia, Liechtenstein, Lithuania, Luxembourg, Malaysia, Malta, Monaco, the Netherlands, New Zealand, Norway, Poland, Portugal, Romania, San Marino, Singapore, Slovakia, Slovenia, Spain, Sweden, Switzerland, U.K., U.S.A. and Vatican City State.

    For details or up-to-date information of visa application, you shall check the link of the Ministry of Foreign Affairs provided above. If you have to apply for a visa, this website also provides you the link to your nearest Taiwan Embassy. An invitation letter for Visa Application will be issued upon request when necessary.
                </p>
                </div>
              </section>

            </article>
        </div>
      </div>
{% endblock %}

