{% extends 'base.html' %}

{% block title %}ITW 2018{% endblock %}
{% block header_ext %}{% endblock %}

{% block content %}
    <div id="article-content" class="container">
        <!-- 导航栏标签的内容容器 -->
        <div class="detail-content">
            {% if tab == "home" %}
                {% include 'main/home.html' %}
            {% elif tab == "committee" %}
                {% include 'committee/committee.html' %}
            {% elif tab == "papers" %}
                {% include 'papers/papers.html' %}
            {% endif %}
        </div>
      </div>
{% endblock %}

