<article id="registration">
    <section class="row">
        <h4>Registration
            <hr>
        </h4>
{#        <p><a href="{{ url_for('registration.register_mainland') }}">Participants from mainland China</a>#}
{#        <p><a href="{{ url_for('registration.register_outside') }}">Participants outside mainland China</a></p>#}
        <p><a href="https://www.itw2018.org/registration/register_mainland">Participants from mainland China</a>
        <p><a href="https://www.itw2018.org/registration/register_outside">Participants outside mainland China</a></p>
    </section>
</article>