<article id="registration">
    <section class="row">
        <h4>Registration<hr></h4>
        <p>Registration will open by September.</p>
        <p>Registration fee includes:</p>
        <ul>
            <li>Admission to all sections;</li>
            <li>Coffee and cake during section breaks;</li>
            <li>Lunch from November 26 to 29;</li>
            <li>Welcome reception on November 25;</li>
            <li>Pearl River night cruise on November 26;</li>
            <li>Banquet at Sky No.1 Restaurant on November 27;</li>
            <li>Excursion to Baiyun Mountain on November 28.</li>
        </ul>
        <p>Each accepted and invited paper must have at least one author registered by Sept 27, 2018 11:59pm Hawaii Time (UTC-10). Accepted papers that have no registered author by that date will not appear in the final program nor the proceedings. Up to 3 papers may be covered by a single full registration. A student registration (reduced fee) covers a single paper.</p>
    </section>
{#    <section class="row">#}
{#        <h4>Budget – Registration Fees<hr></h4>#}
{#        <table class="table">#}
{#            <thead>#}
{#            <tr>#}
{#                <th>Categories</th>#}
{#                <th class="text-center">Early Reg. (RMB)</th>#}
{#                <th class="text-center">Early Reg. (USD)</th>#}
{#                <th class="text-center">Late Reg. (RMB)</th>#}
{#                <th class="text-center">Late Reg. (USD)</th>#}
{#            </tr>#}
{#            </thead>#}
{#            <tbody>#}
{#            <tr>#}
{#                <td>Full Registration (IT soc)</td>#}
{#                <td class="text-center">3990</td>#}
{#                <td class="text-center">570</td>#}
{#                <td class="text-center">4690</td>#}
{#                <td class="text-center">670</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <td>Full Registration (IEEE non IT soc)</td>#}
{#                <td class="text-center">4550</td>#}
{#                <td class="text-center">650</td>#}
{#                <td class="text-center">5250</td>#}
{#                <td class="text-center">750</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <td>Full Registration (Non IEEE)</td>#}
{#                <td class="text-center">5250</td>#}
{#                <td class="text-center">750</td>#}
{#                <td class="text-center">5950</td>#}
{#                <td class="text-center">850</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <td>Student IT Soc / IEEE Life Member</td>#}
{#                <td class="text-center">1540</td>#}
{#                <td class="text-center">220</td>#}
{#                <td class="text-center">2240</td>#}
{#                <td class="text-center">320</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <td>Student (IEEE non IT soc)</td>#}
{#                <td class="text-center">1890</td>#}
{#                <td class="text-center">270</td>#}
{#                <td class="text-center">2590</td>#}
{#                <td class="text-center">370</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <td>Student (Non IEEE)</td>#}
{#                <td class="text-center">2240</td>#}
{#                <td class="text-center">320</td>#}
{#                <td class="text-center">2940</td>#}
{#                <td class="text-center">420</td>#}
{#            </tr>#}
{#            </tbody>#}
{#        </table>#}
{#    </section>#}
</article>