<article id="registration">
    <section class="row">
        <h3>Registration Fee Includes:<hr></h3>
        <ul>
            <li>Admission to all sections including tutorials;</li>
            <li>Coffee and cake during section breaks;</li>
            <li>Lunch from the 26th to the 29th;</li>
            <li>Welcome reception on the 25th;</li>
            <li>Pearl River night cruise on the 26th;</li>
            <li>Banquet at Sky No.1 Restaurant on the 27th;</li>
            <li>Excursion to Baiyun Mountain on the 28th.</li>
        </ul>
    </section>
    <section class="row">
        <h3>Budget – Registration Fees<hr></h3>
        <table class="table">
            <thead>
            <tr>
                <th>Categories</th>
                <th>Early Reg.(RMB)</th>
                <th>Early Reg.(USD)</th>
                <th>Late Reg.(RMB)</th>
                <th>Late Reg.(USD)</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Full Registration (IT soc)</td>
                <td>3990</td>
                <td>570</td>
                <td>4690</td>
                <td>670</td>
            </tr>
            <tr>
                <td>Full Registration (IEEE non IT soc)</td>
                <td>4550</td>
                <td>650</td>
                <td>5250</td>
                <td>750</td>
            </tr>
            <tr>
                <td>Full Registration (Non IEEE)</td>
                <td>5250</td>
                <td>750</td>
                <td>5950</td>
                <td>850</td>
            </tr>
            <tr>
                <td>Student IT Soc / IEEE Life Member</td>
                <td>1540</td>
                <td>220</td>
                <td>2240</td>
                <td>320</td>
            </tr>
            <tr>
                <td>Student (IEEE non IT soc)</td>
                <td>1890</td>
                <td>270</td>
                <td>2590</td>
                <td>370</td>
            </tr>
            <tr>
                <td>Student (Non IEEE)</td>
                <td>2240</td>
                <td>320</td>
                <td>2940</td>
                <td>420</td>
            </tr>
            </tbody>
        </table>
    </section>
</article>