<article id="registration-outside">
    <section class="row">
        <h4>Registration
            <hr>
        </h4>
        <form class="form-horizontal" id="user-register-form" method="post" data-widget-cid="widget-1">
            <div class="form-group">
                <label class="control-label col-sm-3 text-left"
                        for="register-ename">* Name</label>
                <div class="col-sm-8">
                    <input id="register-ename" type="text" name="ename"
                            required="required"
                            class="form-control"
                            placeholder="Please Input Your Name" onchange="checkIcon(event, 0);">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3 text-left"
                        for="register-title">* Title</label>
                <div class="col-sm-8">
                    <select id="register-title" class="form-control" name="title" required>
                        <option value="Prof.">Prof.</option>
                        <option value="Dr.">Dr.</option>
                        <option value="Mr.">Mr.</option>
                        <option value="Ms.">Ms.</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3 text-left"
                        for="register-pid">* Country</label>
                <div class="col-sm-8">
                    <input id="register-country" type="text" name="country"
                            required="required"
                            class="form-control"
                            placeholder="Please Input Your Country" onchange="checkIcon(event, 0);">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3 text-left"
                        for="register-work-unit">* Affiliation</label>
                <div class="col-sm-8">
                    <input id="register-work-unit" type="text" name="work-unit"
                            required="required"
                            class="form-control"
                            placeholder="Please Input Your Affiliation" onchange="checkIcon(event, 0);">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3 text-left"
                        for="register-edas1">Paper EDAS Number</label>
                <div class="col-sm-8">
                    <input id="register-edas1" type="text" name="edas1"
                            class="form-control"
                            placeholder="Please Input Your Paper EDAS Number" onchange="checkIcon(event, 0);">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-8 col-sm-offset-3">
                    <input id="register-edas2" type="text" name="edas2"
                            class="form-control"
                            placeholder="Please Input Your Paper EDAS Number" onchange="checkIcon(event, 0);">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-8 col-sm-offset-3">
                    <input id="register-edas3" type="text" name="edas3"
                            class="form-control"
                            placeholder="Please Input Your Paper EDAS Number" onchange="checkIcon(event, 0);">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3 text-left"
                    for="register-email">*E-mail Address</label>
                <div class="col-sm-8">
                    <input id="register-email" type="email" name="email"
                            required="required"
                            class="form-control"
                            placeholder="Please Input Your E-Mail" onchange="checkIcon(event, 0);">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3 text-left"
                    for="register-email1">*E-mail Address Confirm</label>
                <div class="col-sm-8">
                    <input id="register-email1" type="email" name="email1"
                            required="required"
                            class="form-control"
                            placeholder="Please Input Your E-Mail Again">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3 text-left"
                    for="register-vipNum">IEEE Membership Number</label>
                <div class="col-sm-8">
                    <input id="register-vipNum" type="text" name="vipNum"
                            required="required"
                            class="form-control"
                            placeholder="Please Input Your IEEE Membership Number" onchange="checkIcon(event, 0);">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3 text-left"
                    for="register-money">* Please Select Your Registration Type</label>
                <div class="col-sm-8">
                    <select id="register-money" class="form-control" name="money" required onchange="showMoney(0)">
                        <option value="0">Full Registration (IT soc)-----------------------------------------$590/￥4130</option>
                        <option value="1">Full Registration (IEEE non IT soc)----------------------------$670/￥4690</option>
                        <option value="2">Full Registration (Non IEEE)-------------------------------------$770/￥5390</option>
                        <option value="3">Student IT soc/IEEE Life member------------------------------$330/￥2310</option>
                        <option value="4">Student (IEEE non IT soc)----------------------------------------$380/￥2660</option>
                        <option value="5">Student (Non IEEE)------------------------------------------------$430/￥3010</option>
                        <option value="6">One Day Registration (With banquet)-------------------------$264/￥1848</option>
                        <option value="7">One Day Registration (Without banquet)---------------------$164/￥1148</option>
                        <option value="8">Student One Day Registration (With banquet)--------------$214/￥1498</option>
                        <option value="9">Student One Day Registration (Without banquet)----------$114/￥798</option>
                        <option value="10">Banquet Only---------------------------------------------------------$100/￥700</option>
                    </select>
                </div>
                <div class="col-sm-8 col-sm-offset-3" style="line-height: 30px;">
                    <strong>All types include Excursions</strong>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3 text-left">Total Fee</label>
                <div id="register-totalFee-icon" class="text-right">
                    <span>USD</span>
                </div>
                <div class="col-sm-2">
                    <input id="register-totalFee" type="text" name="totalFee"
                            required="required"
                            class="form-control"
                            readonly
                            value="590">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3 text-left">* Will You Participate a Tutorial on the Afternoon of Nov. 25 (USD 80)</label>
                <div class="col-sm-8">
                    <label class="checkbox-inline">
                            <input id="register-tutorial1" type="radio" name="tutorial"
                            required="required" value="Yes" onchange="showRadio('#tutorial-list', 0)"> Yes
                    </label>
                    <label class="checkbox-inline">
                            <input id="register-tutorial2" type="radio" name="tutorial"
                            required="required" value="No" onchange="hideRadio('#tutorial-list', 0)"> No
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3">
                    <label class="checkbox-inline">
                        Tutorial 1: Coded Caching and Distributed Computing: Opportunities and Challenges
                    </label><br>
                    <label class="checkbox-inline">
                        Tutorial 2: Taming Nonconvexity in Information Science
                    </label>
                </div>
            </div>
            <div id="tutorial-list" class="form-group radio-toggle">
                <div class="col-sm-8 col-sm-offset-3">
                    <label class="checkbox-inline">
                            <input id="register-tutorial1-1" type="radio" name="tutorialItem"
                            value="Tutorial1: Coded Caching and Distributed Computing: Opportunities and Challenges"> Tutorial 1
                    </label><br>
                    <label class="checkbox-inline">
                            <input id="register-tutorial2-1" type="radio" name="tutorialItem"
                            value="Tutorial2: Taming Nonconvexity in Information Science"> Tutorial 2
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3 text-left">* Do You Need an Invitation Letter</label>
                <div class="col-sm-8">
                    <label class="checkbox-inline">
                            <input id="register-needInvit1" type="radio" name="needInvite"
                            required="required" value="Yes" onclick="toggleGender();"> Yes
                    </label>
                    <label class="checkbox-inline">
                            <input id="register-needInvit2" type="radio" name="needInvite"
                            required="required" value="No" onclick="toggleGender();"> No
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3 text-left">Will You Join the Excursions</label>
                <div class="col-sm-8 checkbox-wrapper">
                    <label class="checkbox-inline" onclick="toggleGender();">
                            <input id="zhujiang" type="checkbox" name="travel"
                            value="0"> Pearl river night cruise (Night, Nov. 26)
                    </label><br>
                    <label class="checkbox-inline" onclick="toggleGender();">
                            <input id="baiyunshan" type="checkbox" name="travel"
                            value="1"> Baiyun mountain walk (Afternoon, Nov. 28)
                    </label>
                </div>
            </div>
            <div id="passport-id" class="form-group radio-toggle">
                <label class="control-label col-sm-3 text-left"
                        for="register-pid">* Passport Number (ID Card Number if Your Passport Number is not Applicable)</label>
                <div class="col-sm-8">
                    <input id="register-pid" type="text" name="pid"
                            class="form-control"
                            placeholder="Please Input Your Passport/ID Card Number" onchange="checkIcon(event, 0);">
                </div>
            </div>
            
            <div id="birthday-box" class="form-group radio-toggle">
                <label class="control-label col-sm-3 text-left">* Date of Birth</label>
                <div class="col-sm-8">
                    <input id="register-birthday" type="text"
                            class="form-control"
                            name="birthday"
                            required="required"
                            placeholder="Please input your birthday,formatted as 'YYYY-MM-DD'" onchange="checkIcon(event, 0);">
                </div>
            </div>
            <div id="gender-list" class="form-group radio-toggle">
                <label class="control-label col-sm-3 text-left">* Gender</label>
                <div class="col-sm-8">
                    <label class="checkbox-inline">
                            <input id="register-gender1" type="radio" name="gender"
                            required="required" value="male"> male
                    </label>
                    <label class="checkbox-inline">
                            <input id="register-gender2" type="radio" name="gender"
                            required="required" value="female"> female
                    </label>
                </div>
                <div class="col-sm-8 col-sm-offset-3">
                    <strong>(The above information is needed for insurance)</strong>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3 text-left">* Dietary Preference</label>
                <div class="col-sm-8">
                    <label class="checkbox-inline">
                            <input id="register-foodPreference1" type="radio" name="foodPreference"
                            required="required" value="0"> Vegetarian
                    </label>
                    <label class="checkbox-inline">
                            <input id="register-foodPreference2" type="radio" name="foodPreference"
                            required="required" value="1"> Halal 
                    </label>
                    <label class="checkbox-inline">
                            <input id="register-foodPreference3" type="radio" name="foodPreference"
                            required="required" value="2"> None
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3 text-left"><a href="{{ url_for('main.citw') }}" target="_blank">* Will You Participate the SYSU Information and Coding Theory Workshop on Nov. 30 (free)</a></label>
                <div class="col-sm-8">
                    <label class="checkbox-inline">
                            <input id="register-gotoTalk1" type="radio" name="gotoTalk"
                            required="required" value="Yes"> Yes
                    </label>
                    <label class="checkbox-inline">
                            <input id="register-gotoTalk2" type="radio" name="gotoTalk"
                            required="required" value="No"> No
                    </label>
                </div>
            </div>
            <input id="is-mainland" type="hidden" name="is-mainland" value="no">
            <div class="form-group text-center">
                <input id="registerSubmit" class="btn btn-info register-submit" type="button" value="Submit"/>
            </div>
        </form>
    </section>
</article>