<article id="studetn-travel-grant">
    <section class="row">
        <h4>Student Travel Grant
            <hr>
        </h4>
        <p>
            ITW 2018 will provide a number of student travel grants. If awarded, the committee will help reserve the hotel and cover your stay during the conference. You may apply for the travel grant if you are a student, and you are both a primary author and the presenter of an accepted ITW 2018 paper. Please fill the application form completed by both your and your supervisor’s signatures. Scan and send it to <span class="email">itw2018gz@gmail.com</span> with a cc to your supervisor. The email should be titled “<strong>ITW2018_travelgrant</strong>”.If you have any question, please contact <span class="email">itw2018gz@gmail.com</span>.
        </p>
        <p><strong>Application Deadline</strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; September 7, 2018</p>
        <p><strong>Notification</strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; September 14, 2018</p>

        <a href="{{ url_for('static', filename='resource/ITW_2018_Student_Travel_Grant_Application_Form.docx') }}" target="_blank">ITW 2018 Student Travel Grant Application Form</a>
    </section>
</article>