@charset "utf-8";
/* CSS Document */
#menu{
	margin:0;
	padding:30;
	list-style-type:none;
	font-family: sans-serif'Helvetica Neue', Helvetica, Arial, sans-serif;
	white-space:nowrap;
}
#menu li{
	width:16%;
	padding:0;
	margin:0 0 0 0;
	white-space:nowrap;
}
#menu li dl{
	position:relative;
	z-index:1;
	margin:0;
	padding:0 0 10px 0;
	background:#b3b3b3 ;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	color: #FFFFFF;
	white-space:nowrap;
}
#menu li dt{
	margin: 0;
	padding: 5px;
	text-align: center;
	border-bottom: 1px solid #b00;
	white-space:nowrap;
}
#menu li dt a,#menu li dt a:visited{
	display:block;
	color:#FFFFFF;
	text-decoration:none;
	white-space:nowrap;
}
#menu li dd{
	z-index:1;
	margin:0;
	padding:0;
	color:#fff;
	background:#47a;
	white-space:nowrap;
}

#menu dd.last{
	border-bottom:1px solid #b00;
	white-space:nowrap;
}
#menu li dd a,#menu li dd a:visited{
	display:block;
	color:#fff;
	text-decoration:none;
	padding:4px 5px 4px 20px;
	background:#47a url(../images/01/arrow_077.gif) no-repeat 10px 10px;
	white-space:nowrap;
}
#menu li dd{display:none;}
#menu li:hover dd {display:block;}
#menu li dd a:hover{
	background:#147;
	color:#9cf;
	white-space:nowrap;
}
.email {
	color: #0033FF;
}
