@charset "utf-8";

body {
	background-size: contain;
	/*background-color: #E3E3E3;*/
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    word-wrap: break-word;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;

	/*background-image: url("../background-images/web_BG_ext1.png");
	background-repeat: no-repeat;
	background-position: top center;
	background-attachment: fixed;*/

	/*设置全局字体*/
	font-size: 16px;
	/*color: #666;*/
	color: #000;
}


/*header, section, footer, aside, article, figure {
	display: block;
}*/

/*.overflow-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}*/

hr {
	border:0; height:1px;
	background-color:#d4d4d4;
	color:#d4d4d4	/* IE6 */
}

.content-wrap {
    margin-top:60px; /* 与固定导航栏保持一段边距 */
}


/* 轮播图 */
.carousel-inner > .item {
    overflow: hidden;
}

.carousel-inner > .item > a > img, .carousel-inner > .item > img {
    height: 100%;
    max-width: none;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

#carousel-example-generic ol {
	background-color: transparent;
}

/* 网页尾部赞助商 */
#sponser-content {
	margin-top: 150px;
	margin-bottom: 40px;
}

#sponser-content #sponsers {
	position: relative;
	margin: 0 15px;
}

#sponser-content .sponser-img {
	margin-bottom: 10px;
	-webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#sponser-content .sponser-img:hover {
    transform: translateY(-6px);
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    box-shadow: 0 26px 40px -24px rgba(0, 36, 100, 0.3);
    -webkit-box-shadow: 0 26px 40px -24px rgba(0, 36, 100, 0.3);
    -moz-box-shadow: 0 26px 40px -24px rgba(0, 36, 100, 0.3);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#sponser-content .sponser-img img{
	width: 100%;
	border: 1px solid #e4ecf3;
}


/* 网页尾部著作权 */
.copyright {
	background: #212121;
	border-top: 1px solid #444;
	text-align: center;
	padding: 20px 0;
	line-height: 30px;
	color: #c1c1c1;
}