@charset "utf-8";

html{

}


body {
	background-size: contain;
	/*background-color: #E3E3E3;*/
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    word-wrap: break-word;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;

    /*background-image: url("../images/bg.jpg");*/
	/*background-repeat: repeat;*/
	/*background-position: top center;*/
	/*background-attachment: fixed;*/
    background-color: #FFFFFF;


	/*设置全局字体*/
	font-size: 15px;
	/*color: #666;*/
	color: #000;
}


/*header, section, footer, aside, article, figure {
	display: block;
}*/

/*.overflow-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}*/

hr {
	border:0; height:1px;
	background-color:#d4d4d4;
	color:#d4d4d4	/* IE6 */
}

nav .dropdown-menu li:focus > a,nav .dropdown-menu li:hover > a {
	background-color: #36648B;
	color: #FFF;
}

.content-wrap {

}

.content-wrap section{
    padding-right: 10px;
    padding-left: 10px;
}

.container{
    background-color: #FFFFFF;
    width: 900px;
}

/* 轮播图 */
.carousel-inner > .item {
    overflow: hidden;
}

.carousel-inner > .item > a > img, .carousel-inner > .item > img {
    height: 100%;
    max-width: none;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

#carousel-example-generic ol {
	background-color: transparent;
}

/* 网页尾部赞助商 */
#sponser-content {
	margin-top: 100px;
	margin-bottom: 40px;
}

#sponser-content #sponsers {
	position: relative;
	margin: 0 15px;
}

#sponser-content .sponser-img {
	margin-bottom: 10px;
	-webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#sponser-content .sponser-img:hover {
    transform: translateY(-6px);
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    box-shadow: 0 26px 40px -24px rgba(0, 36, 100, 0.3);
    -webkit-box-shadow: 0 26px 40px -24px rgba(0, 36, 100, 0.3);
    -moz-box-shadow: 0 26px 40px -24px rgba(0, 36, 100, 0.3);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#sponser-content .sponser-img img{
	width: 100%;
	border: 1px solid #e4ecf3;
}


/* 网页尾部著作权 */
.copyright {
	/*background: #212121;*/
    background: rgb(248,248,248);
	border-top: 1px solid #e7e7e7;
	text-align: center;
	padding: 20px 0;
	line-height: 30px;
	/*color: #c1c1c1;*/
    color: #000;
}

.campus-row {
    padding-top:20px;
    padding-bottom: 20px;
}

.campus-row .col-md-3 {
    padding-right:0px;
}

#sysu-scenes .row:nth-child(n+2) {
    padding-top: 20px;
}

#sysu-scenes .row h4 {
    padding: 0 15px;
}

#sysu-scenes .row img, #cantonese_dishes .ten-dish img {
    border: 1px #CCCCCC solid;
    padding: 2px;
    margin: 5px 5px;
    background: #FFFFFF;
}

#cantonese_dishes .ten-dish {
    position: relative;
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 49%;
    padding: 0 10px;
}

#cantonese_dishes .dish-name {
    margin-bottom: 20px;
}

#at-glance-box {
    margin-left: -80px;
}

#time-line {
    text-align: right;
    text-decoration: underline;
}

.table {
  border: 2px solid rgba(122,197,205,0.5);
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
   border: 2px solid rgba(122,197,205,0.5);
}

#at-glance th, #at-glance td {
    text-align: center;
    font-size: 14px;
}

.time-box {
    display: inline-block;
    width: 40px;
    height: 20px;
    border: 2px solid #ccc;
}

#time-table > p .time-box {
    vertical-align: middle;
}

#time-table > p .box-left {
    margin-right: 10px;
}

.box-left {
    margin-right: 20px;
}

.box-1 {
    background: #E7F3F4;
}

.box-2 {
    background: #0070C0;
}

#at-glance .p-bottom {
    margin-bottom: 0px;
}