<!DOCTYPE html>

<html>
<head>
    {% include 'header.html' %}
    <title>{% block title %}{% endblock %}</title>
    {% block header_ext %}{% endblock %}
</head>


<body>
{% include 'navbar.html' %}
<div class="content-wrap">
    <!-- content in this page -->
    {% block content %}{% endblock %}
</div>

{% include 'alert_modal.html' %}
{% include 'submit-comfirm.html' %}
{% include 'footer.html' %}
<!-- <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js"></script> -->
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% block footer_ext %}{% endblock %}

</body>
</html>
