<!-- 赞助商logo -->
<div class="container" style="background-color: #FFFFFF;margin-bottom: 20px;">
    <div id="sponser-content" class="row">
      <section id="sponsers">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-2 sponser-img">
              <a href="https://www.ieee.org/index.html" target="_blank"><img src="{{ url_for('static',filename='images/IEEE.png') }}" alt="IEEE"></a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-2 sponser-img">
              <a href="http://www.itsoc.org/" target="_blank"><img src="{{ url_for('static',filename='images/IT.png') }}" alt="IT"></a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-2 sponser-img">
              <a href="http://www.sysu.edu.cn" target="_blank"><img src="{{ url_for('static',filename='images/SYSU.jpg') }}" alt="SYSU"></a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-2 sponser-img">
              <a href="http://www.swjtu.edu.cn/" target="_blank"><img src="{{ url_for('static',filename='images/XJU.jpg') }}" alt="XJU"></a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-2 sponser-img">
              <a href="http://www.dgut.edu.cn/" target="_blank"><img src="{{ url_for('static',filename='images/DG.jpg') }}" alt="DG"></a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-2 sponser-img">
              <a href="http://www.huawei.com/cn/" target="_blank"><img src="{{ url_for('static',filename='images/HUAWEI.png') }}" alt="HUAWEI"></a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-2 sponser-img">
              <a href="http://www.ieccr.net/cieit/index.asp" target="_blank"><img src="{{ url_for('static',filename='images/ITS.jpg') }}" alt="ITS"></a>
            </div>
        </div>
      </section>
    </div>
</div>

<!-- 网页尾部 -->
<footer>
  <div class="copyright">
      <div class="container">
          <i class="fa fa-copyright"></i>2018 - ITW2018. All rights reserved <br>
          ITW2018 Organizing Committee<br>
          Contact Us : itw2018gz@gmail.com <br>
     </div>
  </div>
</footer>