<article id="home">
    <section class="row">
        <h4>Program at a Glance
            <hr>
        </h4>
        <div id="at-glance-box">
            <div id="time-line" class="col-lg-2 col-md-2 col-sm-2">
                <p style="margin-top: 70px;">8:30am</p>
                <p style="margin-top: 85px;">1:10pm</p>
                <p style="margin-top: 15px;">2:10pm</p>
                <p style="margin-top: 55px;">6:00pm</p>
            </div>
            <div id="time-table" class="col-lg-10 col-md-10 col-sm-10">
                <table id="at-glance" class="table table-bordered" bordercolor="#c1e2b3;">
                <thead>
                <tr>
                    <th width="20%">
                        <p>Nov. 25</p>
                        <p>Sunday</p>
                    </th>
                    <th width="20%">
                        <p>Nov. 26</p>
                        <p>Monday</p>
                    </th>
                    <th width="20%">
                        <p>Nov. 27</p>
                        <p>Tuesday</p>
                    </th>
                    <th width="20%">
                        <p>Nov. 28</p>
                        <p>Wednesday</p>
                    </th>
                    <th width="20%">
                        <p>Nov. 29</p>
                        <p>Thursday</p>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td rowspan="4">
                        <p style="margin-bottom: 5px;">Registration</p>
                        <p>(all day);</p>

                        <p style="margin-bottom: 5px;">2 Tutorials</p>
                        <p>(2 - 5pm);</p>

                        <p style="margin-bottom: 5px;">Welcome Reception</p>
                        <p>(6 - 8pm)</p>
                    </td>
                    <td>
                        <p>Open. / Keynote</p>
                        <p><span class="time-box box-1 box-left"></span><span class="time-box box-1"></span></p>
                        <p class="p-bottom"><span class="time-box box-1 box-left"></span><span class="time-box box-1"></span></p>
                    </td>
                    <td>
                        <p>Keynote</p>
                        <p><span class="time-box box-1 box-left"></span><span class="time-box box-1"></span></p>
                        <p class="p-bottom"><span class="time-box box-2 box-left"></span><span class="time-box box-2"></span></p>
                    </td>
                    <td>
                        <p>Keynote</p>
                        <p><span class="time-box box-1 box-left"></span><span class="time-box box-1"></span></p>
                        <p class="p-bottom"><span class="time-box box-2 box-left"></span><span class="time-box box-2"></span></p>
                    </td>
                    <td>
                        <p>Keynote</p>
                        <p><span class="time-box box-1 box-left"></span><span class="time-box box-1"></span></p>
                        <p class="p-bottom"><span class="time-box box-2 box-left"></span><span class="time-box box-2"></span></p>
                    </td>
                </tr>
                <tr>
                    <td>Lunch</td>
                    <td>Lunch</td>
                    <td>Lunch</td>
                    <td>Lunch</td>
                </tr>
                <tr>
                    <td>
                        <p><span class="time-box box-2 box-left"></span><span class="time-box box-2"></span></p>
                        <p class="p-bottom"><span class="time-box box-2 box-left"></span><span class="time-box box-2"></span></p>
                    </td>
                    <td>
                        <p><span class="time-box box-2 box-left"></span><span class="time-box box-2"></span></p>
                        <p class="p-bottom"><span class="time-box box-2 box-left"></span><span class="time-box box-2"></span></p>
                    </td>
                    <td>Excursion to Baiyun Mountain</td>
                    <td>
                        <p><span class="time-box box-2 box-left"></span><span class="time-box box-2"></span></p>
                        <p class="p-bottom"><span class="time-box box-2 box-left"></span><span class="time-box box-2"></span></p>
                    </td>
                </tr>
                <tr>
                    <td>Night cruise of Zhujiang River</td>
                    <td>Banquet at Sky No.1 Restaurant</td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
                <p><span class="time-box box-1 box-left"></span><span style="margin-right: 30px">4 papers / section</span><span class="time-box box-2 box-left"></span><span>5 papers / section</span></p>
            </div>
        </div>
        <br>
        <p style="margin-left: 10px;">PS: Coffee and Cake are provided between sections.</p>
    </section>
</article>