<article id="home">
    <section class="row">
        <h4>Invited Papers
            <hr>
        </h4>
        <div class="paper-block">
            <div class="block-header">
                <h4>Boundaries between Information Theory and Data Science, Biology and Signal Processing</h4>
            </div>
            <div class="block-paper-list">
                <p class="paper-title">Best Arm Identification for Both Stochastic and Adversarial Multi-armed Bandits</p>
                <ul class="author-list">
                    <li>Cong Shen (University of Science and Technology of China, P.R. China)</li>
                    <li>Hantao Zhang (University of Science and Technology of China, P.R. China)</li>
                </ul>
            </div>
        </div>
        <div class="paper-block">
            <div class="block-header">
                <h4>Coding for Memories</h4>
            </div>
            <div class="block-paper-list">
                <p class="paper-title">Content-Aware Error Correction and Detection for Memory Resilience</p>
                <ul class="author-list">
                    <li>Lara Dolecek (University of California, Los Angeles, USA)</li>
                </ul>
            </div>
        </div>
        <div class="paper-block">
            <div class="block-header">
                <h4>Frontiers of Coding Theory and Practice</h4>
            </div>
            <div class="block-paper-list">
                <p class="paper-title">Binary Linear Codes with Optimal Scaling: Polar Codes with Large Kernels</p>
                <ul class="author-list">
                    <li>Hamed Hassani (University of Pennsylvania, USA)</li>
                    <li>Arman Fazeli (University of California, San Diego, USA)</li>
                    <li>Marco Mondelli (Stanford University, USA)</li>
                    <li>Alexander Vardy (University of California San Diego, USA)</li>
                </ul>
            </div>
            <div class="block-paper-list">
                <p class="paper-title">C
                    <sup>3</sup>LES: Codes for Coded Computation that Leverage Stragglers</p>
                <ul class="author-list">
                    <li>Anindya Bijoy Das (Iowa State University, USA)</li>
                    <li>Li Tang (Iowa State University, USA)</li>
                    <li>Aditya Ramamoorthy (Iowa State University, USA)</li>
                </ul>
            </div>
            <div class="block-paper-list">
                <p class="paper-title">Capacity of Locally Recoverable Codes</p>
                <ul class="author-list">
                    <li>Arya Mazumdar (University of Massachusetts Amherst, USA)</li>
                </ul>
            </div>
            <div class="block-paper-list">
                <p class="paper-title">Capacity-achieving Sparse Regression Codes Via Spatial Coupling</p>
                <ul class="author-list">
                    <li>Cynthia Rush (Columbia University, USA)</li>
                    <li>Kuan Hsieh (University of Cambridge, United Kingdom (Great Britain))</li>
                    <li>Ramji Venkataramanan (University of Cambridge, United Kingdom (Great Britain))</li>
                </ul>
            </div>
            <div class="block-paper-list">
                <p class="paper-title">Coding for Private and Secure Computin</p>
                <ul class="author-list">
                    <li>Qian Yu (University of Southern California, USA)</li>
                    <li>Netanel Raviv (California Institute of Technology, USA)</li>
                    <li>Salman Avestimehr (University of Southern California, USA)</li>
                </ul>
            </div>
            <div class="block-paper-list">
                <p class="paper-title">Geometric Shaping: Low-density Coding of Gaussian-like Constellations</p>
                <ul class="author-list">
                    <li>Joseph Jean Boutros (Texas A&M University, USA)</li>
                    <li>Uri Erez (Tel Aviv University, Israel)</li>
                    <li>Johannes Van Wonterghem (Ghent University, Belgium)</li>
                    <li>Gilles Zémor (Université de Bordeaux, France)</li>
                </ul>
            </div>
            <div class="block-paper-list">
                <p class="paper-title">Sub-linear Time Stochastic Threshold Group Testing via Sparse-Graph Codes</p>
                <ul class="author-list">
                    <li>Ramtin Pedarsani (University of California, Santa Barbara, USA)</li>
                </ul>
            </div>
            <div class="block-paper-list">
                <p class="paper-title">What Can We Learn about Communications from a Machine?</p>
                <ul class="author-list">
                    <li>Mengke Lian (Duke University, USA)</li>
                    <li>Christian Häger (Chalmers University of Technology, Sweden & Duke University, USA)</li>
                    <li>Henry D Pfister (Duke University, USA)</li>
                </ul>
            </div>
        </div>
        <div class="paper-block">
            <div class="block-header">
                <h4>Information Theory and its Applications</h4>
            </div>
            <div class="block-paper-list">
                <p class="paper-title">Fronthaul Data Reduction in Massive MIMO Aided C-RAN via Two-timescale Hybrid Compression</p>
                <ul class="author-list">
                    <li>An Liu (Zhejiang University, P.R. China)</li>
                    <li>Xihan Chen (Zhejiang University, P.R. China)</li>
                    <li>Wei Yu (University of Toronto, Canada)</li>
                    <li>Vincent Lau (Hong Kong University of Science and Technology, Hong Kong)</li>
                    <li>Minjian Zhao (Zhejiang University, P.R. China)</li>
                </ul>
            </div>
            <div class="block-paper-list">
                <p class="paper-title">Staircase-PIR: Universally Robust Private Information Retrieval</p>
                <ul class="author-list">
                    <li>Rawad Bitar (Rutgers University, USA)</li>
                    <li>Salim El Rouayheb (Rutgers University, USA)</li>
                </ul>
            </div>
        </div>
        <div class="paper-block">
            <div class="block-header">
                <h4>Network Coding and Distributed Storage</h4>
            </div>
            <div class="block-paper-list">
                <p class="paper-title">Optimum Linear Codes with Support Constraints over Small Fields</p>
                <ul class="author-list">
                    <li>Babak Hassibi (California Institute of Technology, USA)</li>
                    <li>Hikmet Yildiz (California Institute of Technology, USA)</li>
                </ul>
            </div>
            <div class="block-paper-list">
                <p class="paper-title">Placement Delivery Array and Its Applications</p>
                <ul class="author-list">
                    <li>Xiaohu Tang (Southwest Jiaotong University, P.R. China)</li>
                </ul>
            </div>
            <div class="block-paper-list">
                <p class="paper-title">Recommender Systems over Wireless: Challenges and Opportunities</p>
                <ul class="author-list">
                    <li>Linqi Song (City University of Hong Kong, USA)</li>
                    <li>Christina Fragouli (University of California, Los Angeles, USA)</li>
                    <li>Devavrat Shah (Massachusetts Institute of Technology, USA)</li>
                </ul>
            </div>
        </div>
        <div class="paper-block">
            <div class="block-header">
                <h4>Network Information Theory</h4>
            </div>
            <div class="block-paper-list">
                <p class="paper-title">Capacity Limits of Full-Duplex Cellular Network</p>
                <ul class="author-list">
                    <li>Kaiming Shen (University of Toronto, Canada)</li>
                    <li>Reza K. Farsani (University of Waterloo, Canada)</li>
                    <li>Wei Yu (University of Toronto, Canada)</li>
                </ul>
            </div>
            <div class="block-paper-list">
                <p class="paper-title">On the Capacity Region for Secure Index Coding</p>
                <ul class="author-list">
                    <li>Yuxin Liu (The Australian National University, Australia)</li>
                    <li>Badri N Vellambi (Australian National University, Australia)</li>
                    <li>Young-Han Kim (University of California, San Diego, USA)</li>
                    <li>Parastoo Sadeghi (The Australian National University, Australia)</li>
                </ul>
            </div>
            <div class="block-paper-list">
                <p class="paper-title">Secure Physical Layer Network Coding Versus Secure Network Coding</p>
                <ul class="author-list">
                    <li>Masahito Hayashi (Nagoya University, Japan)</li>
                </ul>
            </div>
        </div>
    </section>
</article>