{% extends 'base.html' %}

{% block title %}ITW 2018{% endblock %}
{% block header_ext %}{% endblock %}

{% block content %}
    <div id="article-content" class="container">
        <!-- 导航栏标签的内容容器 -->
        <div class="detail-content">
            {% if tag == "glance" %}
                {% include 'program/glance.html' %}
            {% elif tag == "full_program" %}
                {% include 'program/full_program.html' %}
            {% elif tag == "invited_papers" %}
                {% include 'program/invited_papers.html' %}
            {% elif tag == "tutorial_call"%}
                {% include 'program/tutorial_call.html' %}
            {% elif tag == "social_events"%}
                {% include 'program/social_events.html' %}
            {% elif tag == "plenary_talks"%}
                {% include 'program/plenary_talks.html' %}
            {% endif %}

        </div>
      </div>
{% endblock %}

