<article id="container">

	
	<div class="clear"></div>

	<div id="content" class="border content-bg">
           <div class="header"><h2>Program</h2></div>
	<div class="sp-content">
<table class="showSummary" id="top">
	<tbody><tr>
		<td class="heading">Time</td>
		<td class="heading">Meeting Room 1</td>
		<td class="heading">Multi-functional Hall (AM) / Meeting Room 2 (PM)</td>
		<td class="heading">TBD</td>
	</tr>
	<tr class="sessionday">
		<td colspan="5" class="sessionday"><h4 class="sessionday">Sunday, November 25</h4></td>
	</tr>
	<tr class="even">
		<td>14:00-17:00</td>
		<td>Su-PM-T1: <a class="inh" href="#S1569560622"><em>Tutorial by Aditya Ramamoorthy and Petros Elia</em></a></td>
		<td>Su-PM-T2: <a class="inh" href="#S1569560623"><em>Tutorial by Yuxin Chen and Yuejie Chi</em></a></td>
		<td>&nbsp;</td>
	</tr>
	<tr class="sessionday">
		<td colspan="5" class="sessionday"><h4 class="sessionday">Monday, November 26</h4></td>
	</tr>
	<tr class="even">
		<td>08:20-09:30</td>
		<td>&nbsp;</td>
		<td>Mo-AM-P1: <a class="inh" href="#S1569560589"><em>Opening and Plenary Talk by Erdal Arikan</em></a></td>
		<td>&nbsp;</td>
	</tr>
	<tr class="odd">
		<td>09:50-11:10</td>
		<td>Mo-AM-1-1: <a class="inh" href="#S1569560593"><em>Polar Coding</em></a></td>
		<td>Mo-AM-1-2: <a class="inh" href="#S1569560594"><em>Capacity 1</em></a></td>
		<td>&nbsp;</td>
	</tr>
	<tr class="even">
		<td>11:30-12:50</td>
		<td>Mo-AM-2-1: <a class="inh" href="#S1569560595"><em>Caching 1</em></a></td>
		<td>Mo-AM-2-2: <a class="inh" href="#S1569560596"><em>Information Theoretic Security 1</em></a></td>
		<td>&nbsp;</td>
	</tr>
	<tr class="odd">
		<td>14:20-16:00</td>
		<td>Mo-PM-1-1: <a class="inh" href="#S1569560597"><em>LDPC Codes</em></a></td>
		<td>Mo-PM-1-2: <a class="inh" href="#S1569560598"><em>Shannon Theory</em></a></td>
		<td>&nbsp;</td>
	</tr>
	<tr class="even">
		<td>16:20-18:00</td>
		<td>Mo-PM-2-1: <a class="inh" href="#S1569560599"><em>Quantum Information Processing and Sequences</em></a></td>
		<td>Mo-PM-2-2: <a class="inh" href="#S1569560600"><em>Index Coding</em></a></td>
		<td>&nbsp;</td>
	</tr>
	<tr class="sessionday">
		<td colspan="5" class="sessionday"><h4 class="sessionday">Tuesday, November 27</h4></td>
	</tr>
	<tr class="even">
		<td>08:30-09:30</td>
		<td>&nbsp;</td>
		<td>Tu-AM-P1: <a class="inh" href="#S1569560590"><em>Plenary Talk by David Tse</em></a></td>
		<td>&nbsp;</td>
	</tr>
	<tr class="odd">
		<td>09:30-18:00</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td rowspan="5">Tu-Poster: <a class="inh" href="#S1569560621"><em>Poster Session with Recent Results</em></a></td>
	</tr>
	<tr class="even">
		<td>09:50-11:10</td>
		<td>Tu-AM-1-1: <a class="inh" href="#S1569560601"><em>Caching 2</em></a></td>
		<td>Tu-AM-1-2: <a class="inh" href="#S1569560602"><em>Learning</em></a></td>
	</tr>
	<tr class="odd">
		<td>11:30-12:50</td>
		<td>Tu-AM-2-1: <a class="inh" href="#S1569560603"><em>Coding for Memories</em></a></td>
		<td>Tu-AM-2-2: <a class="inh" href="#S1569560604"><em>Capacity 2</em></a></td>
	</tr>
	<tr class="even">
		<td>14:20-16:00</td>
		<td>Tu-PM-1-1: <a class="inh" href="#S1569560605"><em>Locally Repairable Codes</em></a></td>
		<td>Tu-PM-1-2: <a class="inh" href="#S1569560606"><em>Statistics</em></a></td>
	</tr>
	<tr class="odd">
		<td>16:20-18:00</td>
		<td>Tu-PM-2-1: <a class="inh" href="#S1569560607"><em>Codes and Decoding Algorithms</em></a></td>
		<td>Tu-PM-2-2: <a class="inh" href="#S1569560608"><em>Private Information Retrieval</em></a></td>
	</tr>
	<tr class="sessionday">
		<td colspan="5" class="sessionday"><h4 class="sessionday">Wednesday, November 28</h4></td>
	</tr>
	<tr class="odd">
		<td>08:30-09:30</td>
		<td>&nbsp;</td>
		<td>We-AM-P1: <a class="inh" href="#S1569560591"><em>Plenary Talk by Raymond W. Yeung</em></a></td>
		<td>&nbsp;</td>
	</tr>
	<tr class="even">
		<td>09:50-11:10</td>
		<td>We-AM-1-1: <a class="inh" href="#S1569560609"><em>Frontiers of Coding Theory and Practice 1 (Invited)</em></a></td>
		<td>We-AM-1-2: <a class="inh" href="#S1569560610"><em>Information Theory and Applications 1 (Invited)</em></a></td>
		<td>&nbsp;</td>
	</tr>
	<tr class="odd">
		<td>11:30-13:10</td>
		<td>We-AM-2-1: <a class="inh" href="#S1569560611"><em>Frontiers of Coding Theory and Practice 2 (Invited)</em></a></td>
		<td>We-AM-2-2: <a class="inh" href="#S1569560612"><em>Information Theory and Applications 2 (Invited)</em></a></td>
		<td>&nbsp;</td>
	</tr>
	<tr class="sessionday">
		<td colspan="5" class="sessionday"><h4 class="sessionday">Thursday, November 29</h4></td>
	</tr>
	<tr class="odd">
		<td>08:30-09:30</td>
		<td>&nbsp;</td>
		<td>Th-AM-P1: <a class="inh" href="#S1569560592"><em>Plenary Talk by Peiying Zhu</em></a></td>
		<td>&nbsp;</td>
	</tr>
	<tr class="even">
		<td>09:50-11:10</td>
		<td>Th-AM-1-1: <a class="inh" href="#S1569560613"><em>Statistics and Compressed Sensing</em></a></td>
		<td>Th-AM-1-2: <a class="inh" href="#S1569560614"><em>Privacy</em></a></td>
		<td>&nbsp;</td>
	</tr>
	<tr class="odd">
		<td>11:30-13:10</td>
		<td>Th-AM-2-1: <a class="inh" href="#S1569560615"><em>Lattice Codes and NOMA</em></a></td>
		<td>Th-AM-2-2: <a class="inh" href="#S1569560616"><em>Source Coding</em></a></td>
		<td>&nbsp;</td>
	</tr>
	<tr class="even">
		<td>14:20-16:00</td>
		<td>Th-PM-1-1: <a class="inh" href="#S1569560617"><em>Coding Theory and Practice</em></a></td>
		<td>Th-PM-1-2: <a class="inh" href="#S1569560618"><em>Communication Theory</em></a></td>
		<td>&nbsp;</td>
	</tr>
	<tr class="odd">
		<td>16:20-18:00</td>
		<td>Th-PM-2-1: <a class="inh" href="#S1569560619"><em>Distributed Computing and Storage</em></a></td>
		<td>Th-PM-2-2: <a class="inh" href="#S1569560620"><em>Information Theoretic Security 2</em></a></td>
		<td>&nbsp;</td>
	</tr>
</tbody></table>
<h4 class="sessionday" id="Sun">Sunday, November 25</h4><h3 class="sessiontime">Sunday, November 25 14:00 - 17:00</h3><h4 class="sessiontitle" id="S1569560622">Su-PM-T1: Tutorial by Aditya Ramamoorthy and Petros Elia<a href="#top"><img alt="go to top" src="../../static/images/program/top.gif"></a></h4><div class="sessionheader"><span class="room">Meeting Room 1</span></div>
<h4 class="sessiontitle" id="S1569560623">Su-PM-T2: Tutorial by Yuxin Chen and Yuejie Chi<a href="#top"><img alt="go to top" src="../../static/images/program/top.gif"></a></h4><div class="sessionheader"><span class="room">Meeting Room 2</span></div>
<h4 class="sessionday" id="Mon">Monday, November 26</h4><h3 class="sessiontime">Monday, November 26 8:20 - 9:30</h3><h4 class="sessiontitle" id="S1569560589">Mo-AM-P1: Opening and Plenary Talk by Erdal Arikan<a href="#top"><img alt="go to top" src="../../static/images/program/top.gif"></a></h4><div class="sessionheader"><span class="room">Room: Multi-functional Hall</span></div>
<h3 class="sessiontime">Monday, November 26 9:50 - 11:10</h3><h4 class="sessiontitle" id="S1569560593">Mo-AM-1-1: Polar Coding<a href="#top"><img alt="go to top" src="../../static/images/program/top.gif"></a></h4><div class="sessionheader"><span class="room">Meeting Room 1</span></div>
<div class="session"><dl class="papers">
<dt>9:50 <span class="papertitle">Universal Polar Coding for Asymmetric Channels</span></dt>
<dd><div class="authors">Venkata Karthik Nagarjuna Tunuguntula (UC San Diego, USA); Paul H. Siegel (University of California, San Diego, USA)</div>
</dd>
<dt>10:10 <span class="papertitle">RT-Polar: An HARQ Scheme with Universally Competitive Rates</span></dt>
<dd><div class="authors">Soumya Subhra Banerjee and Himanshu Tyagi (Indian Institute of Science, India)</div>
</dd>
<dt>10:30 <span class="papertitle">Efficient decoding of polar codes with some 16×16 kernels</span></dt>
<dd><div class="authors">Grigorii Trofimiuk and Peter Trifonov (Saint-Petersburg Polytechnic University, Russia)</div>
</dd>
<dt>10:50 <span class="papertitle">Depth versus Breadth in Convolutional Polar Codes</span></dt>
<dd><div class="authors">Maxime Tremblay (Université de Sherbrooke, 
Canada); Benjamin Bourassa (Université de Shebrooke, Canada); David 
Poulin (Université de Sherbrooke, Canada)</div>
</dd>
</dl>
</div>
<h4 class="sessiontitle" id="S1569560594">Mo-AM-1-2: Capacity 1<a href="#top"><img alt="go to top" src="../../static/images/program/top.gif"></a></h4><div class="sessionheader"><span class="room">Room: Multi-functional Hall</span></div>
<div class="session"><dl class="papers">
<dt>9:50 <span class="papertitle">Capacity of the Vector Gaussian Channel in the Small Amplitude Regime</span></dt>
<dd><div class="authors">Alex Dytso and Vincent Poor (Princeton University, USA); Shlomo (Shitz) Shamai (The Technion, Israel)</div>
</dd>
<dt>10:10 <span class="papertitle">On the Capacity of MIMO Optical Wireless Channels</span></dt>
<dd><div class="authors">Longguang Li (Telecom ParisTech, France); 
Stefan M. Moser (ETH Zurich, Switzerland &amp; National Chiao Tung 
University (NCTU), Taiwan); Ligong Wang (ETIS &amp; CNRS, France); 
Michele A Wigger (Telecom ParisTech, France)</div>
</dd>
<dt>10:30 <span class="papertitle">A Linearly Precoded Rate Splitting Approach and Its Optimality for MIMO Broadcast Channels</span></dt>
<dd><div class="authors">Zheng Li (CentraleSupelec, France); Sheng Yang (CentraleSupélec, France)</div>
</dd>
<dt>10:50 <span class="papertitle">The Optimal DoF Region for the Two-User Non-Coherent SIMO Multiple-Access Channel</span></dt>
<dd><div class="authors">Khac-Hoang Ngo (CentraleSupélec &amp; 
Mathematical and Algorithmic Sciences Lab, Paris Research Center, Huawei
 Technologies, France); Sheng Yang (CentraleSupélec, France); Maxime 
Guillaud (Huawei Technologies, Mathematical and Algorithmic Sciences 
Lab, France)</div>
</dd>
</dl>
</div>
<h3 class="sessiontime">Monday, November 26 11:30 - 12:50</h3><h4 class="sessiontitle" id="S1569560595">Mo-AM-2-1: Caching 1<a href="#top"><img alt="go to top" src="../../static/images/program/top.gif"></a></h4><div class="sessionheader"><span class="room">Meeting Room 1</span></div>
<div class="session"><dl class="papers">
<dt>11:30 <span class="papertitle">Storage-Repair Bandwidth Trade-off for Wireless Caching with Partial Failure and Broadcast Repair</span></dt>
<dd><div class="authors">Nitish Mital (Imperial College London, United 
Kingdom (Great Britain)); Katina Kralevska (Norwegian University of 
Science and Technology, Norway); Deniz Gündüz and Cong Ling (Imperial 
College London, United Kingdom (Great Britain))</div>
</dd>
<dt>11:50 <span class="papertitle">Full Coded Caching Gains for Cache-less Users</span></dt>
<dd><div class="authors">Eleftherios Lampiris and Petros Elia (EURECOM, France)</div>
</dd>
<dt>12:10 <span class="papertitle">Optimal coded caching in heterogeneous networks with uncoded prefetching</span></dt>
<dd><div class="authors">Emanuele Parrinello, Ayşe Ünsal and Petros Elia (EURECOM, France)</div>
</dd>
<dt>12:30 <span class="papertitle">Dynamic Edge Caching with Popularity Drifting</span></dt>
<dd><div class="authors">Linqi Song (City University of Hong Kong, USA); Jie Xu (University of Miami, USA)</div>
</dd>
</dl>
</div>
<h4 class="sessiontitle" id="S1569560596">Mo-AM-2-2: Information Theoretic Security 1<a href="#top"><img alt="go to top" src="../../static/images/program/top.gif"></a></h4><div class="sessionheader"><span class="room">Room: Multi-functional Hall</span></div>
<div class="session"><dl class="papers">
<dt>11:30 <span class="papertitle">Optimal Inputs for Some Classes of Degraded Wiretap Channels</span></dt>
<dd><div class="authors">Alex Dytso (Princeton University, USA); Malcolm
 Egan and Samir M. Perlaza (INRIA, France); Vincent Poor (Princeton 
University, USA); Shlomo (Shitz) Shamai (The Technion, Israel)</div>
</dd>
<dt>11:50 <span class="papertitle">Time-Division is Optimal for Covert Communication over Some Broadcast Channels</span></dt>
<dd><div class="authors">Vincent Y. F. Tan (National University of Singapore, Singapore); Si-Hyeon Lee (POSTECH, Korea)</div>
</dd>
<dt>12:10 <span class="papertitle">The Secure Two-Receiver Broadcast Channel With One-Sided Receiver Side Information</span></dt>
<dd><div class="authors">Jin Yeong Tan (University of Newcastle, Australia); Lawrence Ong and Behzad Asadi (The University of Newcastle, Australia)</div>
</dd>
<dt>12:30 <span class="papertitle">The Caching Broadcast Channel with a Wire and Cache Tapping Adversary of Type II</span></dt>
<dd><div class="authors">Mohamed Nafea (The Pennsylvania State University, USA); Aylin Yener (Pennsylvania State University, USA)</div>
</dd>
</dl>
</div>
<h3 class="sessiontime">Monday, November 26 14:20 - 16:00</h3><h4 class="sessiontitle" id="S1569560597">Mo-PM-1-1: LDPC Codes<a href="#top"><img alt="go to top" src="../../static/images/program/top.gif"></a></h4><div class="sessionheader"><span class="room">Meeting Room 1</span></div>
<div class="session"><dl class="papers">
<dt>14:20 <span class="papertitle">On Generalized LDPC codes for 5G Ultra Reliable Communication</span></dt>
<dd><div class="authors">Yanfang Liu and Pablo M. Olmos (Universidad 
Carlos III de Madrid &amp; Gregorio Marañón Health Research Institute, 
Spain); David G. M. Mitchell (New Mexico State University, USA)</div>
</dd>
<dt>14:40 <span class="papertitle">Type-II Quasi-Cyclic LDPC Codes with Girth Eight from Sidon Sequence</span></dt>
<dd><div class="authors">Guohua Zhang (China Academy of Space Technology
 (Xi’an), P.R. China); Yulin Hu and Qinwei He (RWTH Aachen University, 
Germany); Juhua Wang (China Academy of Space Technology (Xi’an), P.R. 
China)</div>
</dd>
<dt>15:00 <span class="papertitle">Coding Theorem for Systematic LDGM Codes Under List Decoding</span></dt>
<dd><div class="authors">Wenchao Lin, Suihua Cai, Baodian Wei and Xiao Ma (Sun Yat-sen University, P.R. China)</div>
</dd>
<dt>15:20 <span class="papertitle">Non-Universality of Capacity-Achieving LDPC Codes Under Belief Propagation</span></dt>
<dd><div class="authors">Wei Liu and Ruediger L Urbanke (EPFL, Switzerland)</div>
</dd>
<dt>15:40 <span class="papertitle">Free Pseudodistance Growth Rates for Spatially Coupled LDPC Codes over the BEC</span></dt>
<dd><div class="authors">Cunlu Zhou (University of Notre Dame, USA); 
David G. M. Mitchell (New Mexico State University, USA); Roxana 
Smarandache (University of Notre Dame, USA)</div>
</dd>
</dl>
</div>
<h4 class="sessiontitle" id="S1569560598">Mo-PM-1-2: Shannon Theory<a href="#top"><img alt="go to top" src="../../static/images/program/top.gif"></a></h4><div class="sessionheader"><span class="room">Meeting Room 2</span></div>
<div class="session"><dl class="papers">
<dt>14:20 <span class="papertitle">On The Reliability Function of Discrete Memoryless Multiple-Access Channel with Feedback</span></dt>
<dd><div class="authors">Mohsen Heidari, Achilleas Anastasopoulos and S. Sandeep Pradhan (University of Michigan, USA)</div>
</dd>
<dt>14:40 <span class="papertitle">Saddlepoint approximation of the cost-constrained random coding error probability</span></dt>
<dd><div class="authors">Josep Font-Segura and Alfonso Martinez 
(Universitat Pompeu Fabra, Spain); Albert Guillén i Fàbregas (ICREA and 
Universitat Pompeu Fabra &amp; University of Cambridge, Spain)</div>
</dd>
<dt>15:00 <span class="papertitle">Simulation of Random Variables under R\'enyi Divergence Measures of All Orders</span></dt>
<dd><div class="authors">Lei Yu and Vincent Y. F. Tan (National University of Singapore, Singapore)</div>
</dd>
<dt>15:20 <span class="papertitle">A Geometric Property of Relative 
Entropy and the Universal Threshold Phenomenon for Binary-Input Channels
 with Noisy State Information at the Encoder</span></dt>
<dd><div class="authors">Shengtian Yang (Zhejiang Gongshang University, P.R. China); Jun Chen (McMaster University, Canada)</div>
</dd>
<dt>15:40 <span class="papertitle">Information Rates and Error Exponents for Probabilistic Amplitude Shaping</span></dt>
<dd><div class="authors">Rana Ali Amjad (Technische Universität München, Germany)</div>
</dd>
</dl>
</div>
<h3 class="sessiontime">Monday, November 26 16:20 - 18:00</h3><h4 class="sessiontitle" id="S1569560599">Mo-PM-2-1: Quantum Information Processing and Sequences<a href="#top"><img alt="go to top" src="../../static/images/program/top.gif"></a></h4><div class="sessionheader"><span class="room">Meeting Room 1</span></div>
<div class="session"><dl class="papers">
<dt>16:20 <span class="papertitle">Secure Quantum Network Code without Classical Communication</span></dt>
<dd><div class="authors">Seunghoan Song and Masahito Hayashi (Nagoya University, Japan)</div>
</dd>
<dt>16:40 <span class="papertitle">Secret Message Transmission over Quantum Channels under Adversarial Quantum Noise: Secrecy Capacity and Super-activations</span></dt>
<dd><div class="authors">Holger Boche (Technical University Munich, 
Germany); Minglai Cai (Technische Universität München, Germany); 
Christian Deppe (Technical University of Munich, Germany); Janis Nötzel 
(Technische Universität Dresden, Germany)</div>
</dd>
<dt>17:00 <span class="papertitle">Decoding Topological Subsystem Color Codes and Generalized Subsystem Surface Codes</span></dt>
<dd><div class="authors">Vinuta V. Gayatri (Madstreet Den Technologies Pvt Ltd.); Pradeep K Sarvepalli (Indian Institute of Technology Madras, India)</div>
</dd>
<dt>17:20 <span class="papertitle">A New One-Coincidence Frequency-Hopping Sequence Set of Length $p^2-p$</span></dt>
<dd><div class="authors">Tae-Hwan Lee, Hee-Heon Jung and Jin-Ho Chung (Ulsan National Institute of Science and Technology, Korea)</div>
</dd>
<dt>17:40 <span class="papertitle">A Distributed Unicast Scheme Based on Schedule Sequences in Ad Hoc Networks</span></dt>
<dd><div class="authors">Fang Liu (The Chinese University of Hong Kong, 
P.R. China); Kenneth W. Shum (Institute of Network Coding, Hong Kong); 
Wing Shing Wong (The Chinese University of Hong Kong, P.R. China)</div>
</dd>
</dl>
</div>
<h4 class="sessiontitle" id="S1569560600">Mo-PM-2-2: Index Coding<a href="#top"><img alt="go to top" src="../../static/images/program/top.gif"></a></h4><div class="sessionheader"><span class="room">Meeting Room 2</span></div>
<div class="session"><dl class="papers">
<dt>16:20 <span class="papertitle">Low Complexity Decoding and Capacity of Index Coding Problems with Symmetric Side-Information</span></dt>
<dd><div class="authors">Mahesh Babu Vaddi and B. Sundar Rajan (Indian Institute of Science, India)</div>
</dd>
<dt>16:40 <span class="papertitle">Approximating Throughput and Packet Decoding Delay in Linear Network Coded Wireless Broadcast</span></dt>
<dd><div class="authors">Mingchao Yu (University of Southern California, USA); Parastoo Sadeghi (The Australian National University, Australia)</div>
</dd>
<dt>17:00 <span class="papertitle">On the Broadcast Rate and Fractional Clique Cover of Single Unicast Index Coding Problems</span></dt>
<dd><div class="authors">Mahesh Babu Vaddi and B. Sundar Rajan (Indian Institute of Science, India)</div>
</dd>
<dt>17:20 <span class="papertitle">An Information Theoretic Converse for the ``Consecutive Complete--$S$'' PICOD Problem</span></dt>
<dd><div class="authors">Tang Liu and Daniela Tuninetti (University of Illinois at Chicago, USA)</div>
</dd>
<dt>17:40 <span class="papertitle">Three-Layer Composite Coding for Index Coding</span></dt>
<dd><div class="authors">Yucheng Liu (Australian National University, 
Australia); Parastoo Sadeghi (The Australian National University, 
Australia); Young-Han Kim (UCSD, USA)</div>
</dd>
</dl>
</div>
<h4 class="sessionday" id="Tue">Tuesday, November 27</h4><h3 class="sessiontime">Tuesday, November 27 8:30 - 9:30</h3><h4 class="sessiontitle" id="S1569560590">Tu-AM-P1: Plenary Talk by David Tse<a href="#top"><img alt="go to top" src="../../static/images/program/top.gif"></a></h4><div class="sessionheader"><span class="room">Room: Multi-functional Hall</span></div>
<h3 class="sessiontime">Tuesday, November 27 9:30 - 18:00</h3><h4 class="sessiontitle" id="S1569560621">Tu-Poster: Poster Session with Recent Results<a href="#top"><img alt="go to top" src="../../static/images/program/top.gif"></a></h4><div class="sessionheader"><span class="room">Room: TBD</span></div>
<h3 class="sessiontime">Tuesday, November 27 9:50 - 11:10</h3><h4 class="sessiontitle" id="S1569560601">Tu-AM-1-1: Caching 2<a href="#top"><img alt="go to top" src="../../static/images/program/top.gif"></a></h4><div class="sessionheader"><span class="room">Meeting Room 1</span></div>
<div class="session"><dl class="papers">
<dt>9:50 <span class="papertitle">Coded Caching via Line Graphs of Bipartite Graphs</span></dt>
<dd><div class="authors">Prasad Krishnan (IIIT Hyderabad, India)</div>
</dd>
<dt>10:10 <span class="papertitle">Coded Load Balancing in Cache Networks</span></dt>
<dd><div class="authors">Mahdi Jafari Siavoshani (Sharif University of 
Technology, Iran); Farzad Parvaresh and Ali Pourmiri (University of 
Isfahan, Iran); Seyed Pooya Shariatpanahi (Institute for Research in 
Fundamental Sciences (IPM), Iran)</div>
</dd>
<dt>10:30 <span class="papertitle">Coded Cache Placement for Heterogeneous Cache Sizes</span></dt>
<dd><div class="authors">Deyao Zhang and Nan Liu (Southeast University, P.R. China)</div>
</dd>
<dt>10:50 <span class="papertitle">Centralized Caching with Unequal Cache Sizes</span></dt>
<dd><div class="authors">Behzad Asadi and Lawrence Ong (The University of Newcastle, Australia); Sarah J Johnson (University of Newcastle, Australia)</div>
</dd>
</dl>
</div>
<h4 class="sessiontitle" id="S1569560602">Tu-AM-1-2: Learning<a href="#top"><img alt="go to top" src="../../static/images/program/top.gif"></a></h4><div class="sessionheader"><span class="room">Room: Multi-functional Hall</span></div>
<div class="session"><dl class="papers">
<dt>9:50 <span class="papertitle">Information Theory of Mixed Population Genome-Wide Association Studies</span></dt>
<dd><div class="authors">Behrooz Tahmasebi (Sharif University of 
Technology, Iran); Mohammad Ali Maddah-Ali (Nokia Bell Labs, USA); 
Abolfazl Motahari (Sharif University of Technology, Iran)</div>
</dd>
<dt>10:10 <span class="papertitle">Redundancy Capacity Theorem for On-Line Learning Under a Certain Form of Hypotheses Class</span></dt>
<dd><div class="authors">Shachar Shayovitz (University of Tel Aviv, Israel); Meir Feder (Tel-Aviv University, Israel)</div>
</dd>
<dt>10:30 <span class="papertitle">The Geometric Structure of Generalized Softmax Learning</span></dt>
<dd><div class="authors">Xiangxiang Xu (Tsinghua University, P.R. 
China); Shao-Lun Huang (Tsinghua-Berkeley Shenzhen Institute, P.R. 
China); Lizhong Zheng (Massachusetts Institute of Technology, USA); Lin 
Zhang (Tsinghua-Berkeley Shenzhen Institute, P.R. China)</div>
</dd>
<dt>10:50 <span class="papertitle">Generalization error bounds using Wasserstein distances</span></dt>
<dd><div class="authors">Adrian Tovar-Lopez (UW-MADISON, USA); Varun Jog (University of Wisconsin - Madison, USA)</div>
</dd>
</dl>
</div>
<h3 class="sessiontime">Tuesday, November 27 11:30 - 12:50</h3><h4 class="sessiontitle" id="S1569560603">Tu-AM-2-1: Coding for Memories<a href="#top"><img alt="go to top" src="../../static/images/program/top.gif"></a></h4><div class="sessionheader"><span class="room">Meeting Room 1</span></div>
<div class="session"><dl class="papers">
<dt>11:30 <span class="papertitle">Read-Voltage Optimization for Finite Code Length in MLC NAND Flash Memory</span></dt>
<dd><div class="authors">Kang Wei and Jun Li (Nanjing University of 
Science and Technology, P.R. China); Lingjun Kong (Nanjing University of
 Posts &amp; Telecommunications, P.R. China); Feng Shu (Nanjing 
University of Science and Technology, P.R. China); Yonghui Li 
(University of Sydney, Australia)</div>
</dd>
<dt>11:50 <span class="papertitle">Reconstruction from Deletions in Racetrack Memories</span></dt>
<dd><div class="authors">Yeow Meng Chee (Nanyang Technological 
University, Singapore); Ryan Gabrys (SPAWAR Pacific, USA); Alexander 
Vardy (University of California San Diego, USA); Van Khu Vu (Nanyang 
Technological University, Singapore); Eitan Yaakobi (Technion, Israel)</div>
</dd>
<dt>12:10 <span class="papertitle">Information Theoretic Bounds Based Channel Quantization Design for Emerging Memories</span></dt>
<dd><div class="authors">Zhen Mei (Singapore University of Technology 
&amp; Design, Singapore); Kui Cai and Long Shi (Singapore University of 
Technology and Design, Singapore)</div>
</dd>
<dt>12:30 <span class="papertitle">Coding Assisted Adaptive Thresholding for Sneak-Path Mitigation in Resistive Memories</span></dt>
<dd><div class="authors">Zehui Chen and Clayton Schoeny (University of California, Los Angeles, USA); Lara Dolecek (UCLA, USA)</div>
</dd>
</dl>
</div>
<h4 class="sessiontitle" id="S1569560604">Tu-AM-2-2: Capacity 2<a href="#top"><img alt="go to top" src="../../static/images/program/top.gif"></a></h4><div class="sessionheader"><span class="room">Room: Multi-functional Hall</span></div>
<div class="session"><dl class="papers">
<dt>11:30 <span class="papertitle">Capacity bounds for bandlimited Gaussian channels with peak-to-average-power-ratio constraint</span></dt>
<dd><div class="authors">Yizhu Wang, Jing Zhou and Wenyi Zhang (University of Science and Technology of China, P.R. China)</div>
</dd>
<dt>11:50 <span class="papertitle">The Degrees of Freedom of the Oversampled Non-Coherent Channel</span></dt>
<dd><div class="authors">Luca Barletta (Politecnico di Milano, Italy); Stefano Rini (National Chiao Tung University, Taiwan)</div>
</dd>
<dt>12:10 <span class="papertitle">Approximate Nash Region of the Gaussian Interference Channel with Noisy Output Feedback</span></dt>
<dd><div class="authors">Victor Quintero and Samir M. Perlaza (INRIA, 
France); Jean-Marie Gorce (INSA-Lyon &amp; CITI, Inria, France); Vincent
 Poor (Princeton University, USA)</div>
</dd>
<dt>12:30 <span class="papertitle">Maximum Likelihood Upper Bounds on the Capacities of Discrete Information Stable Channels</span></dt>
<dd><div class="authors">Tongxin Li (California Institute of Technology, USA)</div>
</dd>
</dl>
</div>
<h3 class="sessiontime">Tuesday, November 27 14:20 - 16:00</h3><h4 class="sessiontitle" id="S1569560605">Tu-PM-1-1: Locally Repairable Codes<a href="#top"><img alt="go to top" src="../../static/images/program/top.gif"></a></h4><div class="sessionheader"><span class="room">Meeting Room 1</span></div>
<div class="session"><dl class="papers">
<dt>14:20 <span class="papertitle">Local Reconstruction Codes: A Class of MDS-PIR Capacity-Achieving Codes</span></dt>
<dd><div class="authors">Siddhartha Kumar (University of Bergen &amp; 
Simula Research Laboratory, Norway); Hsuan-Yin Lin (Simula UiB, Norway);
 Eirik Rosnes (University of Bergen, Norway); Alexandre Graell i Amat 
(Chalmers University of Technology, Sweden)</div>
</dd>
<dt>14:40 <span class="papertitle">Generally Locally Repairable Codes</span></dt>
<dd><div class="authors">Qi Chen (Advanced Institute of Engineering 
Science for Intelligent Manufacturing, Guangzhou University, P.R. 
China); Chunming Tang and Zhiqiang Lin (Guangzhou University, P.R. 
China)</div>
</dd>
<dt>15:00 <span class="papertitle">On Optimal $(r, \delta)$-LRCs with Length $n \mid (q+1)$</span></dt>
<dd><div class="authors">Weijun Fang and Fang-Wei Fu (Nankai University, P.R. China); Bin Chen and Shutao Xia (Tsinghua University, P.R. China)</div>
</dd>
<dt>15:20 <span class="papertitle">Optimal cyclic $(r,\delta)$ locally repairable codes with unbounded length</span></dt>
<dd><div class="authors">Weijun Fang and Fang-Wei Fu (Nankai University, P.R. China)</div>
</dd>
<dt>15:40 <span class="papertitle">Bandwidth Efficiency of Distance-optimal Scalar Locally Repairable Codes</span></dt>
<dd><div class="authors">Bin Chen and Shutao Xia (Tsinghua University, P.R. China)</div>
</dd>
</dl>
</div>
<h4 class="sessiontitle" id="S1569560606">Tu-PM-1-2: Statistics<a href="#top"><img alt="go to top" src="../../static/images/program/top.gif"></a></h4><div class="sessionheader"><span class="room">Meeting Room 2</span></div>
<div class="session"><dl class="papers">
<dt>14:20 <span class="papertitle">Nonparametric Direct Entropy Difference Estimation</span></dt>
<dd><div class="authors">Puning Zhao and Lifeng Lai (University of California, Davis, USA)</div>
</dd>
<dt>14:40 <span class="papertitle">Testing Against Independence and a Rényi Information Measure</span></dt>
<dd><div class="authors">Amos Lapidoth (ETHZ, Switzerland); Christoph Pfister (ETH Zurich, Switzerland)</div>
</dd>
<dt>15:00 <span class="papertitle">Mixed Delay Constraints at Maximum Sum-Multiplexing Gain</span></dt>
<dd><div class="authors">Homa Nikbakht (Telecom Paritech, France); 
Michele A Wigger (Telecom ParisTech, France); Shlomo (Shitz) Shamai (The
 Technion, Israel)</div>
</dd>
<dt>15:20 <span class="papertitle">Variations on a Theme by Cuff: The Power of Posterior Sampling</span></dt>
<dd><div class="authors">Young-Han Kim (UCSD, USA); Pinar Sen 
(University of California, San Diego, USA); Alankrita Bhatt and Jongha 
Ryu (UCSD, USA); Jiun-Ting Huang (University of California, San Diego, 
USA)</div>
</dd>
<dt>15:40 <span class="papertitle">Testing in Identification Systems</span></dt>
<dd><div class="authors">Minh Thanh Vu (KTH, Sweden); Tobias J. Oechtering and Mikael Skoglund (KTH Royal Institute of Technology, Sweden)</div>
</dd>
</dl>
</div>
<h3 class="sessiontime">Tuesday, November 27 16:20 - 18:00</h3><h4 class="sessiontitle" id="S1569560607">Tu-PM-2-1: Codes and Decoding Algorithms<a href="#top"><img alt="go to top" src="../../static/images/program/top.gif"></a></h4><div class="sessionheader"><span class="room">Meeting Room 1</span></div>
<div class="session"><dl class="papers">
<dt>16:20 <span class="papertitle">Iterative Multistage Soft Decoding of Multilevel Reed-Solomon Codes</span></dt>
<dd><div class="authors">Xin Huang and Li Chen (Sun Yat-sen University, P.R. China)</div>
</dd>
<dt>16:40 <span class="papertitle">An Iterative Soft-Decision Decoding Algorithm with Dynamic Saturation for Short Reed-Solomon Codes</span></dt>
<dd><div class="authors">Bryan Liu, Yixuan Xie, Lei Yang and Jinhong Yuan (University of New South Wales, Australia)</div>
</dd>
<dt>17:00 <span class="papertitle">Efficient Decoding Algorithm for Cyclically Permutable Code</span></dt>
<dd><div class="authors">Minoru Kuribayashi, Shodai Suma and Nobuo Funabiki (Okayama University, Japan)</div>
</dd>
<dt>17:20 <span class="papertitle">Generalized Globally-Coupled Low-Density Parity Check Codes</span></dt>
<dd><div class="authors">Yen-Chin Liao and Hsie-Chia Chang (National Chiao Tung University, Taiwan); Shu Lin (University of California, Davis, USA)</div>
</dd>
<dt>17:40 <span class="papertitle">Deep MIMO Detection Based on Belief Propagation</span></dt>
<dd><div class="authors">Xiangfeng Liu (Xidian University, P.R. China); Ying Li (University of Xidian, P.R. China)</div>
</dd>
</dl>
</div>
<h4 class="sessiontitle" id="S1569560608">Tu-PM-2-2: Private Information Retrieval<a href="#top"><img alt="go to top" src="../../static/images/program/top.gif"></a></h4><div class="sessionheader"><span class="room">Meeting Room 2</span></div>
<div class="session"><dl class="papers">
<dt>16:20 <span class="papertitle">Asynchronous Batch and PIR Codes from Hypergraphs</span></dt>
<dd><div class="authors">Ago-Erik Riet, Vitaly Skachek and Eldho K Thomas (University of Tartu, Estonia)</div>
</dd>
<dt>16:40 <span class="papertitle">Asymmetry Helps: Improved Private Information Retrieval Protocols for Distributed Storage</span></dt>
<dd><div class="authors">Hsuan-Yin Lin (Simula UiB, Norway); Siddhartha 
Kumar (University of Bergen &amp; Simula Research Laboratory, Norway); 
Eirik Rosnes (University of Bergen, Norway); Alexandre Graell i Amat 
(Chalmers University of Technology, Sweden)</div>
</dd>
<dt>17:00 <span class="papertitle">Multi-Message Private Information Retrieval with Private Side Information</span></dt>
<dd><div class="authors">Seyed Pooya Shariatpanahi (Institute for 
Research in Fundamental Sciences (IPM), Iran); Mahdi Jafari Siavoshani 
(Sharif University of Technology, Iran); Mohammad Ali Maddah-Ali (Nokia 
Bell Labs, USA)</div>
</dd>
<dt>17:20 <span class="papertitle">Private Information Retrieval from Multiple Access Channels</span></dt>
<dd><div class="authors">Karim A. Banawan and Sennur Ulukus (University of Maryland, USA)</div>
</dd>
<dt>17:40 <span class="papertitle">Private Information Retrieval with Private Side Information Under Storage Constraints</span></dt>
<dd><div class="authors">Yi-Peng Wei and Sennur Ulukus (University of Maryland, USA)</div>
</dd>
</dl>
</div>
<h4 class="sessionday" id="Wed">Wednesday, November 28</h4><h3 class="sessiontime">Wednesday, November 28 8:30 - 9:30</h3><h4 class="sessiontitle" id="S1569560591">We-AM-P1: Plenary Talk by Raymond W. Yeung<a href="#top"><img alt="go to top" src="../../static/images/program/top.gif"></a></h4><div class="sessionheader"><span class="room">Room: Multi-functional Hall</span></div>
<h3 class="sessiontime">Wednesday, November 28 9:50 - 11:10</h3><h4 class="sessiontitle" id="S1569560609">We-AM-1-1: Frontiers of Coding Theory and Practice 1 (Invited)<a href="#top"><img alt="go to top" src="../../static/images/program/top.gif"></a></h4><div class="sessionheader"><span class="room">Meeting Room 1</span></div>
<div class="session"><dl class="papers">
<dt>9:50 <span class="papertitle">Capacity of Locally Recoverable Codes</span></dt>
<dd><div class="authors">Arya Mazumdar (University of Massachusetts Amherst, USA)</div>
</dd>
<dt>10:10 <span class="papertitle">C^{3}LES: Codes for Coded Computation that Leverage Stragglers</span></dt>
<dd><div class="authors">Anindya Bijoy Das, Li Tang and Aditya Ramamoorthy (Iowa State University, USA)</div>
</dd>
<dt>10:30 <span class="papertitle">Coding for Private and Secure Computing</span></dt>
<dd><div class="authors">Qian Yu (University of Southern California, 
USA); Netanel Raviv (California Institute of Technology, USA); Salman 
Avestimehr (University of Southern California, USA)</div>
</dd>
<dt>10:50 <span class="papertitle">Sub-linear Time Stochastic Threshold Group Testing via Sparse-Graph Codes</span></dt>
<dd><div class="authors">Ramtin Pedarsani (University of California, Santa Barbara, USA)</div>
</dd>
</dl>
</div>
<h4 class="sessiontitle" id="S1569560610">We-AM-1-2: Information Theory and Applications 1 (Invited)<a href="#top"><img alt="go to top" src="../../static/images/program/top.gif"></a></h4><div class="sessionheader"><span class="room">Room: Multi-functional Hall</span></div>
<div class="session"><dl class="papers">
<dt>9:50 <span class="papertitle">Capacity Limits of Full-Duplex Cellular Network</span></dt>
<dd><div class="authors">Kaiming Shen, Reza K. Farsani and Wei Yu (University of Toronto, Canada)</div>
</dd>
<dt>10:10 <span class="papertitle">Optimum Linear Codes with Support Constraints over Small Fields</span></dt>
<dd><div class="authors">Babak Hassibi and Hikmet Yildiz (California Institute of Technology, USA)</div>
</dd>
<dt>10:30 <span class="papertitle">Fronthaul Data Reduction in Massive MIMO Aided C-RAN via Two-timescale Hybrid Compression</span></dt>
<dd><div class="authors">An Liu and Xihan Chen (Zhejiang University, 
P.R. China); Wei Yu (University of Toronto, Canada); Vincent Lau (Hong 
Kong University of Science and Technology, Hong Kong); Minjian Zhao 
(Zhejiang University, P.R. China)</div>
</dd>
<dt>10:50 <span class="papertitle">Best Arm Identification for Both Stochastic and Adversarial Multi-armed Bandits</span></dt>
<dd><div class="authors">Hantao Zhang and Cong Shen (University of Science and Technology of China, P.R. China)</div>
</dd>
</dl>
</div>
<h3 class="sessiontime">Wednesday, November 28 11:30 - 13:10</h3><h4 class="sessiontitle" id="S1569560611">We-AM-2-1: Frontiers of Coding Theory and Practice 2 (Invited)<a href="#top"><img alt="go to top" src="../../static/images/program/top.gif"></a></h4><div class="sessionheader"><span class="room">Meeting Room 1</span></div>
<div class="session"><dl class="papers">
<dt>11:30 <span class="papertitle">Capacity-achieving sparse regression codes via spatial coupling</span></dt>
<dd><div class="authors">Cynthia Rush (Columbia University, USA); Kuan 
Hsieh and Ramji Venkataramanan (University of Cambridge, United Kingdom 
(Great Britain))</div>
</dd>
<dt>11:50 <span class="papertitle">Binary Linear Codes with Optimal Scaling: Polar Codes with Large Kernels</span></dt>
<dd><div class="authors">Hamed Hassani (University of Pennsylvania, 
USA); Arman Fazeli (University of California, San Diego, USA); Marco 
Mondelli (Stanford University, USA); Alexander Vardy (University of 
California San Diego, USA)</div>
</dd>
<dt>12:10 <span class="papertitle">Geometric shaping: low-density coding of Gaussian-like constellations</span></dt>
<dd><div class="authors">Joseph Jean Boutros (Texas A&amp;M University, 
USA); Uri Erez (Tel Aviv University, Israel); Johannes Van Wonterghem 
(Ghent University, Belgium); Gil I. Shamir (Google, USA); Gilles Zémor 
(Université de Bordeaux, France)</div>
</dd>
<dt>12:30 <span class="papertitle">Error Correction and Detection for Computing Memories Using System Side Information</span></dt>
<dd><div class="authors">Clayton Schoeny (University of California, Los 
Angeles, USA); Mark Gottscho, Irina Alam, Puneet Gupta and Lara Dolecek 
(UCLA, USA)</div>
</dd>
<dt>12:50 <span class="papertitle">What Can We Learn about Communications from a Machine?</span></dt>
<dd><div class="authors">Mengke Lian (Duke University, USA); Christian 
Häger (Chalmers University of Technology, Sweden &amp; Duke University, 
USA); Henry D Pfister (Duke University, USA)</div>
</dd>
</dl>
</div>
<h4 class="sessiontitle" id="S1569560612">We-AM-2-2: Information Theory and Applications 2 (Invited)<a href="#top"><img alt="go to top" src="../../static/images/program/top.gif"></a></h4><div class="sessionheader"><span class="room">Room: Multi-functional Hall</span></div>
<div class="session"><dl class="papers">
<dt>11:30 <span class="papertitle">Staircase-PIR: Universally Robust Private Information Retrieval</span></dt>
<dd><div class="authors">Rawad Bitar and Salim El Rouayheb (Rutgers University, USA)</div>
</dd>
<dt>11:50 <span class="papertitle">Recommender Systems over Wireless: Challenges and Opportunities</span></dt>
<dd><div class="authors">Linqi Song (City University of Hong Kong, USA);
 Christina Fragouli (UCLA, USA); Devavrat Shah (Massachusetts Institute 
of Technology, USA)</div>
</dd>
<dt>12:10 <span class="papertitle">Placement Delivery Array and Its Applications</span></dt>
<dd><div class="authors">Qifa Yan (Telecom ParisTech, P.R. China); 
Xiaohu Tang (Southwest Jiaotong University, P.R. China); Qingchun Chen 
(Guangzhou University, P.R. China)</div>
</dd>
<dt>12:30 <span class="papertitle">Secure physical layer network coding versus secure network coding</span></dt>
<dd><div class="authors">Masahito Hayashi (Nagoya University, Japan)</div>
</dd>
<dt>12:50 <span class="papertitle">On the Capacity Region for Secure Index Coding</span></dt>
<dd><div class="authors">Yuxin Liu (The Australian National University, 
Australia); Badri N Vellambi (Australian National University, 
Australia); Young-Han Kim (UCSD, USA); Parastoo Sadeghi (The Australian 
National University, Australia)</div>
</dd>
</dl>
</div>
<h4 class="sessionday" id="Thu">Thursday, November 29</h4><h3 class="sessiontime">Thursday, November 29 8:30 - 9:30</h3><h4 class="sessiontitle" id="S1569560592">Th-AM-P1: Plenary Talk by Peiying Zhu<a href="#top"><img alt="go to top" src="../../static/images/program/top.gif"></a></h4><div class="sessionheader"><span class="room">Room: Multi-functional Hall</span></div>
<h3 class="sessiontime">Thursday, November 29 9:50 - 11:10</h3><h4 class="sessiontitle" id="S1569560613">Th-AM-1-1: Statistics and Compressed Sensing<a href="#top"><img alt="go to top" src="../../static/images/program/top.gif"></a></h4><div class="sessionheader"><span class="room">Meeting Room 1</span></div>
<div class="session"><dl class="papers">
<dt>9:50 <span class="papertitle">Gaussian Universal Features, Canonical Correlations, and Common Information</span></dt>
<dd><div class="authors">Shao-Lun Huang (Tsinghua-Berkeley Shenzhen 
Institute, P.R. China); Gregory Wornell (MIT, USA); Lizhong Zheng 
(Massachusetts Institute of Technology, USA)</div>
</dd>
<dt>10:10 <span class="papertitle">Privacy-Utility Management of Hypothesis Tests</span></dt>
<dd><div class="authors">Zuxing Li (CentraleSupelec &amp; L2S, France); Tobias J. Oechtering (KTH Royal Institute of Technology, Sweden)</div>
</dd>
<dt>10:30 <span class="papertitle">Algebraic Optimization of Binary Spatially Coupled Measurement Matrices for Interval Passing</span></dt>
<dd><div class="authors">Salman Habib (New Jersey Insitute of Technology, USA); Joerg Kliewer (New Jersey Institute of Technology, USA)</div>
</dd>
<dt>10:50 <span class="papertitle">Sparse Recovery of Sign Vectors under Uncertain Sensing Matrices</span></dt>
<dd><div class="authors">Hang Zhang, Afshin Abdi and Faramarz Fekri (Georgia Institute of Technology, USA)</div>
</dd>
</dl>
</div>
<h4 class="sessiontitle" id="S1569560614">Th-AM-1-2: Privacy<a href="#top"><img alt="go to top" src="../../static/images/program/top.gif"></a></h4><div class="sessionheader"><span class="room">Room: Multi-functional Hall</span></div>
<div class="session"><dl class="papers">
<dt>9:50 <span class="papertitle">Optimal Utility-Privacy Trade-off with Total Variation Distance as a Privacy Measure</span></dt>
<dd><div class="authors">Borzoo Rassouli (University of Essex, United 
Kingdom (Great Britain)); Deniz Gündüz (Imperial College London, United 
Kingdom (Great Britain))</div>
</dd>
<dt>10:10 <span class="papertitle">Privacy Under Hard Distortion Constraints</span></dt>
<dd><div class="authors">Jiachun Liao, Oliver Kosut and Lalitha Sankar (Arizona State University, USA); Flavio P. Calmon (Harvard University, USA)</div>
</dd>
<dt>10:30 <span class="papertitle">Distributed Hypothesis Testing Under Privacy Constraints</span></dt>
<dd><div class="authors">Sreejith Sreekumar and Deniz Gündüz (Imperial 
College London, United Kingdom (Great Britain)); Asaf Cohen (Ben-Gurion 
University of the Negev, Israel)</div>
</dd>
<dt>10:50 <span class="papertitle">Capacity of Single-Server Single-Message Private Information Retrieval with Coded Side Information</span></dt>
<dd><div class="authors">Anoosheh Heidarzadeh, Fatemeh Kazemi and Alex Sprintson (Texas A&amp;M University, USA)</div>
</dd>
</dl>
</div>
<h3 class="sessiontime">Thursday, November 29 11:30 - 13:10</h3><h4 class="sessiontitle" id="S1569560615">Th-AM-2-1: Lattice Codes and NOMA<a href="#top"><img alt="go to top" src="../../static/images/program/top.gif"></a></h4><div class="sessionheader"><span class="room">Meeting Room 1</span></div>
<div class="session"><dl class="papers">
<dt>11:30 <span class="papertitle">Performance Limits of Lattice Reduction over Imaginary Quadratic Fields with Applications to Compute-and-Forward</span></dt>
<dd><div class="authors">Shanxiang Lyu, Christian Porter and Cong Ling (Imperial College London, United Kingdom (Great Britain))</div>
</dd>
<dt>11:50 <span class="papertitle">A Neural Network Lattice Decoding Algorithm</span></dt>
<dd><div class="authors">Mohammad-Reza Sadeghi and Farzane Amirzade 
(Amirkabir University of Technology, Iran); Daniel Panario (Carleton 
University, Canada); Amin Sakzad (Monash University, Australia)</div>
</dd>
<dt>12:10 <span class="papertitle">Joint Channel-Network Decoding for Asynchronous Physical-Layer Network Coding</span></dt>
<dd><div class="authors">Xiaokang Wang (Hongkong University of Science 
and Technology, Hong Kong); Wai Ho Mow (Hong Kong University of Science 
and Technology &amp; HKUST, Hong Kong)</div>
</dd>
<dt>12:30 <span class="papertitle">Optimization of the Factor Graph for the Multiuser Superposition Transmission</span></dt>
<dd><div class="authors">Bing Dong, Shaoguo Wen and Zhongwei Si (Beijing University of Posts and Telecommunications, P.R. China)</div>
</dd>
<dt>12:50 <span class="papertitle">Cloud-Edge Non-Orthogonal Transmission for Fog Networks with Delayed CSI at the Cloud</span></dt>
<dd><div class="authors">Jingjing Zhang and Osvaldo Simeone (King's College London, United Kingdom (Great Britain))</div>
</dd>
</dl>
</div>
<h4 class="sessiontitle" id="S1569560616">Th-AM-2-2: Source Coding<a href="#top"><img alt="go to top" src="../../static/images/program/top.gif"></a></h4><div class="sessionheader"><span class="room">Room: Multi-functional Hall</span></div>
<div class="session"><dl class="papers">
<dt>11:30 <span class="papertitle">Multiple-Access Channel with Independent Sources: Error Exponent Analysis</span></dt>
<dd><div class="authors">Arezou Rezazadeh, Josep Font-Segura and Alfonso
 Martinez (Universitat Pompeu Fabra, Spain); Albert Guillén i Fàbregas 
(ICREA and Universitat Pompeu Fabra &amp; University of Cambridge, 
Spain)</div>
</dd>
<dt>11:50 <span class="papertitle">An Upper bound on the Error Exponent in Lossless Source Coding with A Helper</span></dt>
<dd><div class="authors">Wei Kang and Nan Liu (Southeast University, P.R. China)</div>
</dd>
<dt>12:10 <span class="papertitle">Vector Gaussian CEO Problem Under Logarithmic Loss</span></dt>
<dd><div class="authors">Yigit Ugur (Université Paris-Est Marne la 
Vallée &amp; Huawei Technologies, France Research Center, Mathematical 
and Algorithmic Sciences Lab, France); Inaki Estella (Huawei 
Technologies Co., Ltd., France); Abdellatif Zaidi (Université Paris-Est,
 France)</div>
</dd>
<dt>12:30 <span class="papertitle">On the Rate Distortion Function of Arbitrarily Varying Remote Sources</span></dt>
<dd><div class="authors">Amitalok J Budkuley (The Chinese University of 
Hong Kong, Hong Kong); Bikash K Dey (Indian Institute of Technology 
Bombay, India); Sidharth Jaggi (Chinese University of Hong Kong, Hong 
Kong); Vinod M Prabhakaran (Tata Institute of Fundamental Research, 
India)</div>
</dd>
<dt>12:50 <span class="papertitle">Timely Lossless Source Coding for Randomly Arriving Symbols</span></dt>
<dd><div class="authors">Jing Zhong, Roy Yates and Emina Soljanin (Rutgers University, USA)</div>
</dd>
</dl>
</div>
<h3 class="sessiontime">Thursday, November 29 14:20 - 16:00</h3><h4 class="sessiontitle" id="S1569560617">Th-PM-1-1: Coding Theory and Practice<a href="#top"><img alt="go to top" src="../../static/images/program/top.gif"></a></h4><div class="sessionheader"><span class="room">Meeting Room 1</span></div>
<div class="session"><dl class="papers">
<dt>14:20 <span class="papertitle">A New Kind of Nonbinary Uniquely Decodable Codes with Arbitrary Code Length for Multiple-Access Adder Channel</span></dt>
<dd><div class="authors">Shan Lu (Gifu University, Japan); Wei Hou 
(Xidian University, P.R. China); Jun Cheng (Doshisha University, Japan);
 Hiroshi Kamabe (Gifu University, Japan)</div>
</dd>
<dt>14:40 <span class="papertitle">Circular-shift Linear Network Codes with Arbitrary Odd Block Lengths</span></dt>
<dd><div class="authors">Qifu T Sun and Hanqi Tang (University of 
Science and Technology Beijing, P.R. China); Zongpeng Li (Wuhan 
University &amp; University of Calgary, P.R. China); Xiaolong Yang 
(University of Science &amp; Technology Beijing, P.R. China); Keping 
Long (University of Science and Technology Beijing, P.R. China)</div>
</dd>
<dt>15:00 <span class="papertitle">Encoding of Non-binary Quasi-cyclic Codes by Lin-Chung-Han Transform</span></dt>
<dd><div class="authors">Runzhou Li (School of Electronic and 
Information Engineering, Beihang University, P.R. China); Qin Huang 
(Group 201, Beihang University, P.R. China); Zulin Wang (Beihang 
University, P.R. China)</div>
</dd>
<dt>15:20 <span class="papertitle">Systematic [n,n-2] codes with capability of correcting single- and adjacent transposition errors</span></dt>
<dd><div class="authors">Yanling Chen (University of Duisburg-Essen, 
Germany); Han Vinck (University of Duisburg-Essen &amp; University of 
Johannesburg, Germany)</div>
</dd>
<dt>15:40 <span class="papertitle">Private Streaming with Convolutional Codes</span></dt>
<dd><div class="authors">Lukas Holzbaur and Ragnar Freij-Hollanti 
(Technical University of Munich, Germany); Antonia Wachter-Zeh 
(Technical University of Munich (TUM), Germany); Camilla Hollanti (Aalto
 University, Finland)</div>
</dd>
</dl>
</div>
<h4 class="sessiontitle" id="S1569560618">Th-PM-1-2: Communication Theory<a href="#top"><img alt="go to top" src="../../static/images/program/top.gif"></a></h4><div class="sessionheader"><span class="room">Meeting Room 2</span></div>
<div class="session"><dl class="papers">
<dt>14:20 <span class="papertitle">The Age of Updates in a Simple Relay Network</span></dt>
<dd><div class="authors">Ali Maatouk (CentraleSupélec, France); Mohamad 
Assaad (CentraleSupelec, France); Anthony Ephremides (University of 
Maryland, USA)</div>
</dd>
<dt>14:40 <span class="papertitle">On the Outage Probability of Distributed MAC with ZF Detection</span></dt>
<dd><div class="authors">Joseph Kampeas and Asaf Cohen (Ben-Gurion 
University of the Negev, Israel); Omer Gurewitz (Ben-Gurion University 
Of The Negev, Israel)</div>
</dd>
<dt>15:00 <span class="papertitle">Zero-error Function Computation on a Directed Acyclic Network</span></dt>
<dd><div class="authors">Ardhendu Tripathy and Aditya Ramamoorthy (Iowa State University, USA)</div>
</dd>
<dt>15:20 <span class="papertitle">Asymptotically Optimal Scheduling for Compute-and-Forward</span></dt>
<dd><div class="authors">Ori Shmuel (Ben Gurion University, Israel); 
Asaf Cohen (Ben-Gurion University of the Negev, Israel); Omer Gurewitz 
(Ben-Gurion University Of The Negev, Israel)</div>
</dd>
<dt>15:40 <span class="papertitle">The $\epsilon$-error Capacity of Symmetric PIR with Byzantine Adversaries</span></dt>
<dd><div class="authors">Qiwen Wang (KTH Royal Institute of Technology, 
Sweden); Hua Sun (University of North Texas, USA); Mikael Skoglund (KTH 
Royal Institute of Technology, Sweden)</div>
</dd>
</dl>
</div>
<h3 class="sessiontime">Thursday, November 29 16:20 - 18:00</h3><h4 class="sessiontitle" id="S1569560619">Th-PM-2-1: Distributed Computing and Storage<a href="#top"><img alt="go to top" src="../../static/images/program/top.gif"></a></h4><div class="sessionheader"><span class="room">Meeting Room 1</span></div>
<div class="session"><dl class="papers">
<dt>16:20 <span class="papertitle">Entangled Polynomial Coding in Limited-Sharing Multi-Party Computation</span></dt>
<dd><div class="authors">Hanzaleh Akbari Nodehi and Seyed Reza Hoseini 
Najarkolaei (Sharif University of Technology, Iran); Mohammad Ali 
Maddah-Ali (Nokia Bell Labs, USA)</div>
</dd>
<dt>16:40 <span class="papertitle">Treeplication: An Erasure Code that is Almost as Painless as Replication</span></dt>
<dd><div class="authors">Michael Gandelman and Yuval Cassuto (Technion, Israel)</div>
</dd>
<dt>17:00 <span class="papertitle">Repair Schemes with Optimal I/O Costs for Full-Length Reed-Solomon Codes with Two Parities</span></dt>
<dd><div class="authors">Hoang Dau and Emanuele Viterbo (Monash University, Australia)</div>
</dd>
<dt>17:20 <span class="papertitle">Storage, Computation, and Communication: A Fundamental Tradeoff in Distributed Computing</span></dt>
<dd><div class="authors">Qifa Yan (Telecom ParisTech, P.R. China); Sheng Yang (CentraleSupelec, France); Michele A Wigger (Telecom ParisTech, France)</div>
</dd>
<dt>17:40 <span class="papertitle">Service Capacity Region of Content Access from Erasure Coded Storage</span></dt>
<dd><div class="authors">Sarah Anderson (University of St. Thomas, USA);
 Ann Johnston (Penn State University, USA); Gauri Joshi (Carnegie Mellon
 University, USA); Gretchen Matthews (Clemson University, USA); Carolyn 
Mayer (Worcester Polytechnic Institute, USA); Emina Soljanin (Rutgers 
University, USA)</div>
</dd>
</dl>
</div>
<h4 class="sessiontitle" id="S1569560620">Th-PM-2-2: Information Theoretic Security 2<a href="#top"><img alt="go to top" src="../../static/images/program/top.gif"></a></h4><div class="sessionheader"><span class="room">Meeting Room 2</span></div>
<div class="session"><dl class="papers">
<dt>16:20 <span class="papertitle">Authentication Capacity of Adversarial Channels</span></dt>
<dd><div class="authors">Oliver Kosut (Arizona State University, USA); Joerg Kliewer (New Jersey Institute of Technology, USA)</div>
</dd>
<dt>16:40 <span class="papertitle">Symmetric Multilevel Imperfect Secret Sharing</span></dt>
<dd><div class="authors">Tao Guo (The Chinese University of Hong Kong, 
Hong Kong); Xuan Guang (The Chinese University of Hong Kong &amp; Nankai
 University, P.R. China); Kenneth W. Shum (Institute of Network Coding, 
Hong Kong)</div>
</dd>
<dt>17:00 <span class="papertitle">New Results on the Wire-tap Channel with Noiseless Feedback</span></dt>
<dd><div class="authors">Bin Dai (Southwest Jiaotong University, P.R. 
China); Linman Yu (Chengdu Textile College, P.R. China); Yuan Luo 
(Shanghai Jiao Tong University, P.R. China)</div>
</dd>
<dt>17:20 <span class="papertitle">Secure Computation-and-Forward Communication with Linear Codes</span></dt>
<dd><div class="authors">Masahito Hayashi (Nagoya University, Japan); 
Tadashi Wadayama (Nagoya Institute of Technology, Japan); Angeles 
Vazquez-Castro (Universidad Autónoma de Barcelona, Spain)</div>
</dd>
<dt>17:40 <span class="papertitle">Covert Communication over Adversarially Jammed Channels</span></dt>
<dd><div class="authors">Qiaosheng Zhang and Mayank Bakshi (The Chinese 
University of Hong Kong, Hong Kong); Sidharth Jaggi (Chinese University 
of Hong Kong, Hong Kong)</div>
</dd>
</dl>
</div>

		</div>		
		
		<div class="clear"></div>

</div>


</article>
