<article id="home">
    <section class="row">
        <h2>Welcome Reception on Nov. 25th
            <hr>
        </h2>
        <p>Welcome reception will take place in the Main Hall of the conference venue.</p><br>
        <div class="row">
            <div class="col-md-6">
                <img style="width: 100%" src="{{ url_for('static',filename='images/program/receotion_1.jpg') }}">
            </div>
            <div class="col-md-6">
                <img style="width: 100%" src="{{ url_for('static',filename='images/program/receotion_2.jpg') }}">
            </div>
        </div>
        <br>
    </section>

    <section class="row">
        <h2>Pearl River Night Cruise on Nov. 26th
            <hr>
        </h2>
        <p>
            Pearl River (pronounced as “Zhu Jiang” in Mandarin) is the third longest river in China that breeds the historic legacy of Guangzhou. In night, bridges and buildings across the river will be dressed up in colors, illuminating the city’s now-and-then. The cruise will take you from the Old Downtown to the Zhujiang New Town where you will see the city’s modern landmark – The Canton Tower. You will then realize how the ITW 2018 logo was inspired. The night cruise lasts for two hours.
        </p>
        <div class="row">
            <div class="col-md-6">
                <img style="width: 100%" src="{{ url_for('static',filename='images/program/pearl_1.jpg') }}">
            </div>
            <div class="col-md-6">
                <img style="width: 100%" src="{{ url_for('static',filename='images/program/pearl_2.jpg') }}">
            </div>
        </div>
        <br>
    </section>

     <section class="row">
        <h2>Banquet at Sky No.1 Restaurant on Nov. 27th
            <hr>
        </h2>
        <p>
            The banquet will take place in Guangzhou Sky No.1 Restaurant. You will not only be delighted by the authentic Cantonese cuisine, but also by the restaurant’s unique design.
        </p>
         <div class="row">
            <div class="col-md-6">
                <img style="width: 100%" src="{{ url_for('static',filename='images/program/sky_1.jpg') }}">
            </div>
            <div class="col-md-6">
                <img style="width: 100%" src="{{ url_for('static',filename='images/program/sky_2.jpg') }}">
            </div>
        </div>
         <br>
    </section>

    <section class="row">
        <h2>Excursion to Baiyun Mountain on Nov. 28th
            <hr>
        </h2>
        <p>
            Baiyun Mountain resides in the north of the city. It has been known as the “Lung of the City” for its greenery and the “Balcony of the City” for its height that offers a panoramic view of Guangzhou. It is also the home of a number of historic temples, e.g., the Nengren Temple.
        </p>
        <div class="row">
            <div class="col-md-6">
                <img style="width: 100%" src="{{ url_for('static',filename='images/program/baiyun_1.jpg') }}">
            </div>
            <div class="col-md-6">
                <img style="width: 100%" src="{{ url_for('static',filename='images/program/baiyun_2.jpg') }}">
            </div>
        </div>
    </section>


</article>