<article id="home">
    <section class="row">
        <h3>Tutorial Call
            <hr>
        </h3>

        <p>
            Two parallel tutorials will be organized in the afternoon of Nov. 25th. Each will last for 3 hours including a half an hour coffee break. We call for tutorials that represent state-of-the-art research in information and coding theory and their emerging disciplines. Tutorial proposals should be written within 2 pages, highlighting the title, abstract, impact and outline of contents. The proposals should be submitted together with a CV of the presenter(s).
        </p>

        <p>Please submit your proposal to our tutorial chairs:<br>
            <ul>
                <li>Krishna Narayanan, krn@tamu.edu</li>
                <li>Pascal Vontobel, pascal.vontobel@gmail.com</li>
            </ul>
            The submission deadline is Mar. 1, 2018 and the acceptance will be announced on Mar. 15, 2018.

        </p>

        <p>
            All participant of ITW 2018 are entitled attend the tutorial without additional charge, but reservation will be needed to contain the number of attendees within the venue capacity.
        </p>
    </section>
</article>