<article id="home">
    <section class="row">
        <h4>Tutorial Call
            <hr>
        </h4>

        <p>
            Two parallel tutorials will be organized in the afternoon of November 25. Each will last for 3 hours including a 30 minutes coffee break. We call for tutorials that represent state-of-the-art research in information and coding theory and their emerging disciplines. Tutorial proposals should be written within 2 pages, highlighting the title, abstract, impact and outline of contents. The proposals should be submitted together with a CV of the presenter(s).
        </p>

        <p>Please submit your proposal to <b>itw2018gz@gmail.com</b> with the subject as "Tutorial Proposal for ITW 2018". The submission deadline is March 1, 2018 and the acceptance will be announced on March 15, 2018.</p>

        <p>
            All participant of ITW 2018 are entitled to attend the tutorial without additional charge, but reservation will be needed to contain the number of attendees within the venue capacity.
        </p>
    </section>
</article>