<article id="committee">
    <section class="row">
        <h3>General Chairs<hr></h3>
        <ul>
            <li>Pingzhi Fan  - Southwest Jiaotong University, China</li>
            <li>Aria Nosratinia  - University of Texas at Dallas, USA</li>
            <li>Li Chen  - Sun Yat-sen University, China</li>
        </ul>
    </section>
    <section class="row">
        <h3>Technical Program Chairs<hr></h3>
        <ul>
            <li>Krishna Narayanan  - Texas A&M University, USA</li>
            <li>Dongning Guo  - Northwestern University, USA</li>
            <li>Pascal Vontobel  - The Chinese University of Hong Kong, Hong Kong SAR, China</li>
            <li>Daniela Tuninetti - University of Illinois at Chicago, USA</li>
        </ul>
    </section>
    <section class="row">
        <h3>Tutorial Chairs<hr></h3>
        <ul>
            <li>Krishna Narayanan  - Texas A&M University, USA</li>
            <li>Pascal Vontobel  - The Chinese University of Hong Kong, Hong Kong SAR, China</li>
        </ul>
    </section>
    <section class="row">
        <h3>Publication Chairs<hr></h3>
        <ul>
            <li>Shenghao Yang  - The Chinese University of Hong Kong (Shenzhen), China</li>
            <li>Qin Huang  - Beihang University, China</li>
        </ul>
    </section>
    <section class="row">
        <h3>Publicity Chairs<hr></h3>
        <ul>
            <li>Xiaojun Yuan  - ShanghaiTech University, China</li>
            <li>David Mitchell  - New Mexico State University, USA</li>
        </ul>
    </section>
    <section class="row">
        <h3>Financial Chair<hr></h3>
        <ul>
            <li>Baodian Wei  - Sun Yat-sen University, China</li>
        </ul>
    </section>
    <section class="row">
        <h3>Chinese IT Society Liaison<hr></h3>
        <ul>
            <li>Yunjiang Wang  - Xidian University, China</li>
        </ul>
    </section>
</article>