<article id="committee">
    <section class="row">
        <h4>General Chairs</h4>
        <p>Pingzhi Fan  - Southwest Jiaotong University, China</p>
        <p>Aria Nosratinia  - University of Texas at Dallas, USA</p>
        <p>Li Chen  - Sun Yat-sen University, China</p>
    </section>
    <section class="row">
        <h4>Technical Program Chairs</h4>
        <p>Krishna Narayanan  - Texas A&M University, USA</p>
        <p>Dongning Guo  - Northwestern University, USA</p>
        <p>Pascal Vontobel  - The Chinese University of Hong Kong, Hong Kong SAR, China</p>
        <p>Daniela Tuninetti - University of Illinois at Chicago, USA</p>

    </section>
    <section class="row">
        <h4>Tutorial Chairs</h4>
        <p>Krishna Narayanan  - Texas A&M University, USA</p>
        <p>Pascal Vontobel  - The Chinese University of Hong Kong, Hong Kong SAR, China</p>

    </section>
    <section class="row">
        <h4>Publication Chairs</h4>
        <p>Shenghao Yang  - The Chinese University of Hong Kong (Shenzhen), China</p>
        <p>Qin Huang  - Beihang University, China</p>

    </section>
    <section class="row">
        <h4>Publicity Chairs</h4>
        <p>Xiaojun Yuan  - University of Electronic Science and Technology of China, China</p>
        <p>David Mitchell  - New Mexico State University, USA</p>

    </section>
    <section class="row">
        <h4>Financial Chair</h4>
        <p>Baodian Wei  - Sun Yat-sen University, China</p>

    </section>
    <section class="row">
        <h4>Chinese IT Society Liaison</h4>
        <p>Yunjiang Wang  - Xidian University, China</p>
    </section>

    <section class="row">
        <h4>Local Arrangement</h4>
        <p>Zijing Chen - Sun Yat-sen University, China</p>
        <p>Jiongyue Xing - Sun Yat-sen University, China</p>
    </section>

    <section class="row">
        <h4>Technical Program Committee</h4>
        <div id="multi_list" class="row">
             <div class="col-md-4">
                <ul>
                    <li>Venkat Anantharam</li>
                    <li>Salman Avestimehr</li>
                    <li>Thomas Courtade</li>
                    <li>Merouane Debbah</li>
                    <li>Natasha Devroye</li>

                    <li>Lara Dolecek</li>
                    <li>Stark Draper</li>
                    <li>Michelle Effros</li>
                    <li>Salim El Rouayhebm</li>
                    <li>Yonina Eldar</li>

                    <li>Uri Erez</li>
                    <li>Elza Erkip</li>
                    <li>Fangwei Fu</li>
                    <li>Pulkit Grover</li>
                    <li>Saikat Guha</li>

                    <li>Deniz Gunduz</li>
                    <li>Hin-Hsiu Hsieh</li>
                    <li>Yu-Chih Huang</li>
                    <li>Tara Javidi</li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul>
                    <li>Navin Kashyap</li>
                    <li>Ashish Khisti</li>
                    <li>Negar Kiyavash</li>
                    <li>Vijay Kumar</li>
                    <li>Michael Lentmaier</li>

                    <li>Yingbing Liang</li>
                    <li>Tie Liu</li>
                    <li>Yuan Luo</li>
                    <li>Arya Mazumdar</li>
                    <li>Soleil Mohajer</li>
                    <li>Soheil Mohajer</li>

                    <li>Ryuhei Mori</li>
                    <li>Urs Niesen</li>
                    <li>Ayfer Özgür</li>
                    <li>Dimitris Papailiopoulos</li>

                    <li>Henry Pfister</li>
                    <li>Yury Polyanskiy</li>
                    <li>Aditya Ramamoorthy</li>
                    <li>Parastoo Sadeghi</li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul>
                    <li>Kenneth Shum</li>
                    <li>Osvaldo Simeone</li>
                    <li>Alex Sprintson</li>
                    <li>Changho Suh</li>
                    <li>Antonia Tulino</li>
                    <li>Vincent Tan</li>

                    <li>Meixia Tao</li>
                    <li>Chao Tian</li>
                    <li>Sennur Ulukus</li>
                    <li>Emanuele Viterbo</li>
                    <li>Tadashi Wadayama</li>

                    <li>Chih-Chun Wang</li>
                    <li>Michèle Wigger</li>
                    <li>Gregory Wornell</li>
                    <li>Roy Yates</li>
                    <li>Aylin Yener</li>

                    <li>Raymond Yeung</li>
                    <li>Wenyi Zhang</li>
                    <li>Zhaoyang Zhang</li>
                </ul>
            </div>
        </div>
    </section>
</article>
