<article id="committee">
    <section class="row">
        <h4>General Chairs</h4>
        <p>Pingzhi Fan  - Southwest Jiaotong University, China</p>
        <p>Aria Nosratinia  - University of Texas at Dallas, USA</p>
        <p>Li Chen  - Sun Yat-sen University, China</p>
    </section>
    <section class="row">
        <h4>Technical Program Chairs</h4>
        <p>Krishna Narayanan  - Texas A&M University, USA</p>
        <p>Dongning Guo  - Northwestern University, USA</p>
        <p>Pascal Vontobel  - The Chinese University of Hong Kong, Hong Kong SAR, China</p>
        <p>Daniela Tuninetti - University of Illinois at Chicago, USA</p>

    </section>
    <section class="row">
        <h4>Tutorial Chairs</h4>
        <p>Krishna Narayanan  - Texas A&M University, USA</p>
        <p>Pascal Vontobel  - The Chinese University of Hong Kong, Hong Kong SAR, China</p>

    </section>
    <section class="row">
        <h4>Publication Chairs</h4>
        <p>Shenghao Yang  - The Chinese University of Hong Kong (Shenzhen), China</p>
        <p>Qin Huang  - Beihang University, China</p>

    </section>
    <section class="row">
        <h4>Publicity Chairs</h4>
        <p>Xiaojun Yuan  - ShanghaiTech University, China</p>
        <p>David Mitchell  - New Mexico State University, USA</p>

    </section>
    <section class="row">
        <h4>Financial Chair</h4>
        <p>Baodian Wei  - Sun Yat-sen University, China</p>

    </section>
    <section class="row">
        <h4>Chinese IT Society Liaison</h4>
        <p>Yunjiang Wang  - Xidian University, China</p>
    </section>

    <section class="row">
        <h4>Local Arrangement</h4>
        <p>Zijing chen - Sun Yat-sen University, China</p>

    </section>
</article>