<article id="citw">
    <section class="row">
        <h4>SYSU-CITW<hr></h4>
        <p>The Sun Yat-sen University Coding and Information Theory Workshop (SYSU-CITW) will take place in Sun Yat-sen University higher education megacenter campus on November 30, 2018, the day after ITW2018.</p>
        <p>SYSU-CITW invites outstanding theorists in the fields of coding and information theory from the world to deliver talks and share their thoughts. All participants are also welcome to join the tour to the National Supercomputer Center in Guangzhou, where places the fastest supercomputer in the world during 2013 ~ 2016, Tianhe-II. The agenda of SYSU-CITW will be available in late September.</p>
        <p>Admission is free for SYSU-CITW. Shuttle buses will be arranged on the day picking up our participants from Sun Yat-sen Kaifeng Hotel to the workshop venue.</p>
        <p>SYSU-CITW provides a free and perfect chance for researchers around the world to communicate with each other, especially for those participants who are still hungry for knowledge after a 5-days brainstorming in ITW2018. </p>
        <p>We look forward to welcoming you in Sun Yat-sen University, Guangzhou, China.</p>
        <br>
        <div>
            The general co-chairs, <br>
            Xiao Ma and Li Chen
        </div>
    </section>
</article>