<article id="registration">
    <section class="row">
        <h3>Accommodation<hr></h3>
        <h4><strong>1、Gold Coast Marina Club Hotel</strong></h4>
        <p>Price: 600 – 800 RMB / night</p>

        <h4><strong>2、Sun Yat-sen Kaifeng Hotel</strong></h4>
        <p>Price: 500 – 700 RMB / night</p>

        <h4><strong>3、Wing Kwong Hall</strong></h4>
        <p>Price: 250 – 350 RMB / night</p>
        <iframe src="https://www.google.com/maps/d/embed?mid=1DMtTuE9X6v42olG1rP-aI91BqPg&hl=en" width="100%" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
    </section>
</article>