<article id="registration">
    <section class="row">
        <h4>Accommodation<hr></h4>

        The following hotels are within walking distance to the conference venue.

        <h4><strong>1、Sun Yat-sen Kaifeng Hotel</strong></h4>
        <p>Price: 500 – 700 RMB / night</p>

        <h4><strong>2、Gold Coast Marina Club Hotel</strong></h4>
        <p>Price: 600 – 800 RMB / night</p>

        <h4><strong>3、Wing Kwong Hall</strong></h4>
        <p>Price: 250 – 350 RMB / night</p>
        <br>
        <p>Upon request, the local organization can help reserve rooms in these hotels. More logistic arrangement will appear later.</p>
        <br>
        <iframe src="https://www.google.com/maps/d/embed?mid=1DMtTuE9X6v42olG1rP-aI91BqPg&hl=en" width="100%" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>


    </section>
</article>