<article id="accommodation">
    <section class="row">
        <h4>Accommodation<hr></h4>
        <p>The local organizing committee has secured a number of rooms at the workshop venue (Sun Yat-sen Kaifeng Hotel) with discount. If you plan to stay in the Hotel, please<strong style="font-size: 18px;"> <a href="https://www.itw2018.org/accommodation/reservation">CLICK HERE</a></strong> to fill in your information and the committee will take care of your reservation.</p>
        <p>You may also book Sun Yat-sen Kaifeng Hotel by yourself via <a target="_blank" href="https://www.trip.com/hotels/guangzhou-hotel-detail-1527047/?curr=USD&language=EN&locale=en_us#ci=2018-11-25&co=2018-11-30&crn=1">Trip.com</a>.</p>
        <p>Here is another recommendation, <a target="_blank" href="https://www.booking.com/hotel/cn/guangzhou-new-pearl-river-international.html?aid=397617;label=gog235jc-index-zh-XX-XX-unspec-cn-com-L%3Azh-O%3AwindowsS7-B%3Achrome-N%3AXX-S%3Abo-U%3Ac-H%3As;sid=c868c6e93d2f0886c148a56bb8f858f3;room1=A%2CA&;checkin=2018-11-25;checkout=2018-11-30;atlas_src=hp_iw_btn">New Pearl River Hotel</a>, which is within 10 minutes walking distance to the workshop venue.</p>
        <p>For other inquiries, please contact us via <span class="email">itw2018gz@gmail.com</span></p>
        <p><strong>Note*:</strong> The local committee only takes care of your reservation. You have to pay the lodging fee to the front desk at check-in.</p>
        <br>
        <iframe src="https://www.google.com/maps/d/embed?mid=1DMtTuE9X6v42olG1rP-aI91BqPg&hl=en" width="100%" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
    </section>
</article>