<article id="committee">
    <section class="row">
        <h3>Scope of Submission<hr></h3>
        <p>Original papers on <b>Information and Coding Theory</b> are encouraged for submission. Our special interests that do not limit the scope of submission include:</p>
        <ul>
            <li>Information Theory and its Applications</li>
            <li>Frontiers of Coding Theory and Practice</li>
            <li>Boundaries between Information Theory and Data Science, Biology and Signal Processing</li>
            <li>Network Information Theory</li>
            <li>Network Coding and Distributed Storage</li>
            <li>Information Theoretic Security</li>
        </ul>
    </section>
    <section class="row">
        <h3>Author Guideline<hr></h3>
        <p>Authors are encouraged to use LaTex to prepare their manuscript that follows the <i>IEEE conference specifications</i>. Submitted manuscripts should be contained within 5 pages with font size no smaller than 10 points and reasonable margins in all sides. Page numbers should be omitted. Submitted manuscripts should provide sufficient details of the research allowing reviewers to assess the originality and authenticity of the work. If full proof cannot be accommodated within 5 pages, the authors can publicize the supplementary material which can be openly accessed, and provide the specific reference. Duplicated submission to multiple conferences is strictly forbidden, but a conference presentation of a submitted journal manuscript is allowed.</p>

        <p>Submission will be through EDAS which will be ready accept manuscripts in March 2018.</p>
    </section>
    <section class="row">
        <h3>Important Dates<hr></h3>
        <p><b>Paper submission</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; May 18, 2018</p>
        <p><b>Acceptance notification</b> &nbsp;&nbsp;&nbsp;	August 13, 2018</p>
        <p><b>Final paper submission</b> &nbsp;&nbsp;&nbsp;	September 13, 2018</p>
    </section>
</article>