<article>
    <section class="row" style="margin-top: 20px;">
        <p>
            The conference will take place in <a href="http://www.syskaifeng.com/en_US/index.html">Sun Yat-sen Kaifeng Hotel</a> which is a four-star standard boutique hotel of 296 guest rooms. It locates within the university campus that hosts many historic architectures and artifacts (<a href="{{ url_for("travel.sysu") }}">University map</a>). It is also on the Pearl River bank with most of its guestrooms enjoying a panoramic view of the city’s modern presentation.
        </p>
    </section>

    <section class="row" style="margin-top: 20px;">
        <div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div><img src="{{ url_for('static',filename='images/venue/3.jpg') }}" width="100%"></div>
                <div class="text-center"><h4>Sun Yat-sen Kaifeng Hotel</h4></div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6" style="margin-bottom: 20px; ">
                <div><img src="{{ url_for('static',filename='images/venue/1.jpg') }}" width="100%"></div>
                <div class="text-center"><h4>The Main Hall</h4></div>
            </div>

        </div>
        <div>
            <div class="col-lg-6 col-md-6 col-sm-6" style="margin-bottom: 30px;">
                <div><img src="{{ url_for('static',filename='images/venue/2.jpg') }}" width="100%"></div>
                <div class="text-center"><h4>Section Theatres</h4></div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div><img src="{{ url_for('static',filename='images/venue/4.jpg') }}" width="100%"></div>
                <div class="text-center"><h4>Guestrooms</h4></div>
            </div>
        </div>
    </section>

    <section class="row">
        <h4>From Baiyun International Airport
            <hr>
        </h4>
        <p>1) By Taxi: cost ~ 200 RMB, time ~ 50 mins, <a href="{{ url_for('main.show_driver') }}" target="_blank">show the driver</a></p>
        <p>2) By Airport Express Shuttle: cost ~ 20 RMB, time ~ 1 hr. Line 6(To <i>New Pearl River International Hotel</i>) </p>
        <p>3) By Metro: cost 12 RMB, time ~ 1 hr 30 mins</p>
        <div><img src="{{ url_for('static', filename='images/venue/route1.png') }}" width="90%"></div>
        <br>
        <p>Note that Sun Yat-sen University metro station is 2km away from the venue. You are recommended to further take a taxi from the station.</p>

    </section>

    <section class="row">
        <h4>From Guangzhou East Train Station
            <hr>
        </h4>
        <p>1) By Taxi: cost ~ 40 RMB, time ~ 25 mins, <a href="{{ url_for('main.show_driver') }} " target="_blank">show the driver</a></p>
        <p>2) By Metro: cost 4 RMB, time ~ 23 mins</p>
        <div><img src="{{ url_for('static', filename='images/venue/route2.png') }}"  width="100%"></div>
        <p>Note that Sun Yat-sen University metro station is 2km away from the venue. You are recommended to further take a taxi from the station.</p>

    </section>
</article>



