<article>
    <section class="row">
        <h1>Venue
            <hr>
        </h1>
        <p>
            The conference will take place in Sun Yat-sen Kaifeng Hotel which is a four-star standard boutique hotel of 296 guest rooms. It locates within the university campus that hosts many historic architectures and artifacts. It is also on the Pearl River bank with most of its guestrooms enjoying a panoramic view of the city’s modern presentation.
        </p>
    </section>

    <section class="row">
        <h2>The Main Hall
            <hr>
        </h2>
        <img style="margin-left: auto; margin-right: auto; display: block;" src="{{ url_for('static',filename='images/venue/1.jpg') }}">
        <br>
    </section>

    <section class="row">
        <h2>Section Theatres
            <hr>
        </h2>
        <img style="margin-left: auto; margin-right: auto; display: block;" src="{{ url_for('static',filename='images/venue/2.jpg') }}">
        <br>
    </section>

    <section class="row">
        <h2>Guestrooms
            <hr>
        </h2>
        <img style="margin-left: auto; margin-right: auto; display: block;" src="{{ url_for('static',filename='images/venue/3.jpg') }}">
        <br>
    </section>

    <section class="row">
        <h2>From Baiyun International Airport
            <hr>
        </h2>
        <div class="col-md-12">
            <img style="width: 100%;" src="{{ url_for('static',filename='images/venue/4.jpg') }}">
        </div>
        <br>
    </section>

    <section class="row">
        <h2>From Guangzhou East Train Station
            <hr>
        </h2>
        <div class="col-md-12">
            <img style="width: 100%;" src="{{ url_for('static',filename='images/venue/5.jpg') }}">
        </div>
        <br>
    </section>
</article>



