<article id="home">
    <section class="row">
        <h3>About Cantonese Cuisine
            <hr>
        </h3>
        <div class="col-md-6 col-sm-6 col-lg-6" style="padding-right: 20px;">
            <iframe width="100%" height="300px" src="https://www.youtube.com/embed/XBK2AjBzoe8" frameborder="0" allowfullscreen></iframe>
        </div>
        <div>
            <p>Cantonese cuisine comes from Guangdong province and is one of the Eight Culinary Traditions of Chinese cuisine. Its prominence outside China is due to the large number of emigrants from Guangdong. Chefs trained in Cantonese cuisine are highly sought after throughout China.When Westerners speak of Chinese food, they usually refer to Cantonese cuisine.Taking root in the southern province of Guangdong, this cooking style is characterized by gentle spices, fresh ingredients and slow, careful preparation.</p>
            <p>Taken overseas with them by early Chinese emigrants, Cantonese cuisine has become one of the most widely eaten cuisines in the world -- extending its territory to Chinatowns in countries far and wide.</p>
            <p>Because of Guangdong's role as a trading post, many imported foods and ingredients found their way into its cuisine. Many cooking methods are used, with steaming and stir-frying the most common thanks to their convenience and speed. Other techniques include shallow frying, double steaming, braising, and deep frying.</p>
            <p>Distinct from other types of Chinese cooking in its light seasoning, Cantonese cuisine places a strong emphasis on freshness. For traditional Cantonese chefs, the flavors of a finished dish should be non-greasy and balanced. Spices should also be used in modest amounts to avoid overwhelming the flavors of the primary ingredients, which in turn should be at the peak of their freshness and quality.</p>
            <p>Guangzhou has become known as the Chinese food capital because of the freshness and light seasoning in a huge variety of popular and exotic ingredients. With so many choices of exquisite tastes and flavors, the Cantonese people are thought to have the most sensitive taste buds, and consider themselves connoisseurs of taste.</p>
        </div>
    </section>

    <section class="row">
        <h3>Yum cha
            <hr>
        </h3>
        <p>Yum cha is at the heart of Cantonese people's life. They would be happy to spend the whole day enjoying endless cups of tea and beautifully-made dim sum.</p>
        <p class="text-center"><img src="{{ url_for('static', filename='images/Yum_cha.jpg') }}"></p>
        <div>
            <h4><strong>Yum cha</strong></h4>
            <p>Yum cha(喝茶 hē chá ) in Cantonese literally means "to drink tea". But it is more defined by ritual than the simple act of drinking a beverage. Mai Guang-fan is vice president of the China Cuisine Association and an expert on Cantonese culinary culture.</p>
            <p>"Yum cha is also called Tan Cha by Cantonese people, and means to enjoy a cup of tea. It means relaxing and enjoying aromatic tea and fine food with friends or family, making up for lost time and solidifying relationships."</p>
            <p>um cha isn't just about sipping tea and spending time with friends--it's also intertwined with another distinctive Cantonese culinary tradition ---the consumption of dim sum.</p>
        </div>
        <div>
            <h4><strong>Dim sum</strong></h4>
            <p>Dim sum(点心 diǎn xīn ), which literally means "to touch the heart", has come to mean a light snack. Flour-based snack foods are actually not unique to Cantonese cuisine. Shanghai has xiao long bao, steamed pork dumplings, and in Sichuan chao shou, or wontons, are popular. What sets Cantonese dim sum apart, though, is the extraordinary variety of dishes and the list keeps growing.</p>
            <p>Dim sum is usually steamed or fried, though there are other methods. The dim sums are usually small and normally served as three or four pieces in one dish. It's customary to share dishes among all the diners on one table. Because of the small portions, people can try a wide variety of food.</p>
            <p>In traditional yum cha restaurants, dim sums are served on trolleys. Instead of reading a menu then placing an order, diners order what they like on the trolley. The cost of the meal is calculated based on the number and size of dishes left on the table at the end.</p>
            <p>Yum cha is a special dining custom for Cantonese people and an important part of the local culture. The whole tradition refreshes the palate and is steeped in culture. Mai Guangfan again.</p>
            <p>"Yum cha and eating dim sum has been a major dining tradition among Cantonese people for generations. Originally people drank tea and ate some small dishes before they went to work in the morning. Gradually, this eating habit became a happy and boisterous social ritual, which brings people together. There is a sense of sharing and camaraderie that comes with the food. "</p>
            <p>As an expression of Cantonese cultural identity, yum cha has its own rules of etiquette to follow, just as many other Chinese culinary schools do. They include pouring tea for elders and social superiors, tapping the table as a sign of thanks, leaving the last piece of each order as a sign of abundance and in deference to others, etc. These details are essential to a culinary tradition that elevates ceremony, and is sometimes more important than the food itself.</p>
        </div>
        <div>
            <h4><strong>Soup</strong></h4>
            <p>Cantonese people also have a deep passion for soup(汤 tāng ). The soup is usually a clear broth prepared by simmering meat and other ingredients, and cooked on a mild heat for hours.</p>
            <p>Unlike other Chinese cuisines, the Cantonese usually serve soup before a meal. The soup-drinking tradition is said to be related to the regional climate in Guangdong, which is a moist heat.</p>
            <p>It is believed by many Cantonese people that soup plays a role in "clearing" heat, nourishing beauty, strengthening physical health, and preventing and curing diseases. Chinese herbal medicines are sometimes added to the clay pot, to make the soup nutritious and healthy.</p>
        </div>
    </section>

    <section class="row">
        <h3>Ten Famous Cantonese Cuisine
            <hr>
        </h3>
        <div id="cantonese_dishes">
            <div>
                <div class="ten-dish"><img width="100%" src="{{ url_for('static', filename='images/dish_1.jpg') }}"></div>
                <div class="ten-dish"><img width="100%" src="{{ url_for('static', filename='images/dish_2.jpg') }}"></div>
            </div>
            <div class="dish-name">
                <div class="ten-dish"><strong>Cantonese roast suckling pig</strong></div>
                <div class="ten-dish"><strong>Plain Boiled Chicken</strong></div>
            </div>
            <div>
                <div class="ten-dish"><img width="100%" src="{{ url_for('static', filename='images/dish_3.jpg') }}"></div>
                <div class="ten-dish"><img width="100%" src="{{ url_for('static', filename='images/dish_4.jpg') }}"></div>
            </div>
            <div class="dish-name">
                <div class="ten-dish"><strong>Crispy Roasted Goose</strong></div>
                <div class="ten-dish"><strong>Stewed White Gourd Soup with Eight Ingredients</strong></div>
            </div>
            <div>
                <div class="ten-dish"><img width="100%" src="{{ url_for('static', filename='images/dish_5.jpg') }}"></div>
                <div class="ten-dish"><img width="100%" src="{{ url_for('static', filename='images/dish_6.jpg') }}"></div>
            </div>
            <div class="dish-name">
                <div class="ten-dish"><strong>Lobster Simmered in Chicken Soup</strong></div>
                <div class="ten-dish"><strong>Steamed seaweed fresh</strong></div>
            </div>
            <div>
                <div class="ten-dish"><img width="100%" src="{{ url_for('static', filename='images/dish_7.jpg') }}"></div>
                <div class="ten-dish"><img width="100%" src="{{ url_for('static', filename='images/dish_8.jpg') }}"></div>
            </div>
            <div class="dish-name">
                <div class="ten-dish"><strong>Braised pigeon</strong></div>
                <div class="ten-dish"><strong>Slippery Fish Balls</strong></div>
            </div>
            <div>
                <div class="ten-dish"><img width="100%" src="{{ url_for('static', filename='images/dish_9.jpg') }}"></div>
                <div class="ten-dish"><img width="100%" src="{{ url_for('static', filename='images/dish_10.jpg') }}"></div>
            </div>
            <div class="dish-name">
                <div class="ten-dish"><strong>Sweet and Sour Glued Meat</strong></div>
                <div class="ten-dish"><strong>Slow-cooked Soup</strong></div>
            </div>
        </div>
    </section>
</article>
