<article id="home">
    <section class="row">
        <h4>About Guangzhou
            <hr>
        </h4>
        <div class="col-md-6 col-sm-6 col-lg-6" style="padding-right: 20px;">
            <iframe width="100%" height="300px" src="https://www.youtube.com/embed/IWn99zJe77g" frameborder="0" allowfullscreen></iframe>
        </div>
        <div>
            <p>Guangzhou, also traditionally known as Canton, is the third city in mainland China after Beijing and Shanghai. It is often referred as the southern capital of China. Bred by the Pearl River (Zhu Jiang), the city has over 2000 years’ history continuously written by its people’s enterprising spirit and open-mindedness. It has been a major terminus of the ancient Maritime Silk Road and continues to play an important role in China’s recent Belt and Road Initiative. The twice-a-year Canton Fair galvanizes merchants around the world, still being the oldest and largest trade fair of China. Forbes ranked Guangzhou the best commercial city in the mainland.</p>

            <p>Coming to Guangzhou, you can experience the city’s vibrant culture of traditional and modern, oriental and western, delicate but pragmatic. The Chen Clan Academy demonstrates the traditional Cantonese architecture and shows you rich ancient artifacts. The Sun Yat-sen Memorial Hall exhibits the city’s revolutionary past and shows you China’s footprints towards modernization. The Shamian Island, home of rich western architectures, is a tranquil reminders of the colonial European period. The Canton Tower, the city’s modern landmark, oversees the booming skyscrapers represented by the IFC Tower, the City Library, the Guangdong Museum, the Guangzhou Opera House and many others. </p>
        </div>
    </section>

    <section class="row">
        <p>Of course, Cantonese cuisine is the city’s global ambassador as this is the major cuisine that you can taste in any Chinatown. Cantonese cuisine distinguishes by its freshness and exquisite taste that is only culminated by light seasoning. Yum Cha (drinking tea) is an indispensable part of Cantonese life. It means not only drinking a cup of fragrant tea, but also enjoying a large variety of Dim Sum (a steam basket of fine food). This is how the Cantonese cultivate their lives, meeting family and friends, making up for the lost time and envisaging the future.</p>
        <p class="text-center"><img src="{{ url_for('static', filename='images/Yum_cha.jpg') }}"></p>
        <p>More details of visiting Guangzhou can be found in <a href="http://www.visitgz.com/html/English/" target="_blank">here</a>.</p>
    </section>
</article>
