<article id="home">
    <section class="row">
        <h4>Guangzhou to Hong Kong
            <hr>
        </h4>
        <div>
            <p>Guangzhou is 120km northwest of Hong Kong. You may come to Guangzhou by transiting in Hong Kong. The most convenient ways of travelling to Hong Kong from Guangzhou include train and coach. The Guangzhou – Hong Kong Express Train runs every 50mins and the journey takes two hours. You can embark a train from the Guangzhou East Railway Station. The train will terminate in Hong Kong Hung Hum Railway Station. Alternatively, you can also take a coach which will take three hours.</p>
            <p>Understanding that some of our participants may need to go to Hong Kong for the 2018 Turbo Conference, travel agent will be onsite during ITW 2018. You can purchase your tickets through the agent.</p>
        </div>
    </section>
</article>
