<article id="home">
    <section class="row">
        <h3>Guangzhou to Hong Kong
            <hr>
        </h3>
        <div>
            <p>There are 3 main ways from Guangzhou to Hong Kong,they are bus,train and plane.
            </p>
            <p class="text-center"><img src="{{ url_for('static', filename='images/guangzhou_to_hongkong.png') }}"></p>
        </div>
    </section>
    <section class="row">
        <h3>By Bus
            <hr>
        </h3>
        <div>
            <p>In these three ways,taking a bus is the most convenient.You can take a bus from Guangzhou directly to Hong Kong Kowloon.The whole trip takes about three hours.You can get on the bus at the following places:
            </p>
            <p>Hua Hai Building,Guangdong Hotel,Guangzhou Hotel,Fangcun Tea House,Guangdong Geological Landscape Hotel,Jincheng Hotel,President Hotel and Yutong Hotel.</p>
        </div>
    </section>
    <section class="row">
        <h3>By Train
            <hr>
        </h3>
        <p>Here is the train schedule:</p>
        <p class="text-center"><img src="{{ url_for('static', filename='images/guangzhou_to_hongkong_train.jpg') }}"></p>
    </section>
    <section class="row">
        <h3>By Plane
            <hr>
        </h3>
        <p>Taking a plane is the most expensive way among the three ways.The flights take about one hour and fifteen minutes.</p>
    </section>
</article>
