<article id="home">
    <section class="row">
        <h4>Guangzhou ←→ Hong Kong
            <hr>
        </h4>
        <div>
            <p>Guangzhou is 120km northwest of Hong Kong. You may come to Guangzhou by transiting in Hong Kong. From Hong Kong, you can take an Express Train from Hung Hum Railway Station to Guangzhou East Train Station. The Express Train runs every 50 mins and the journey takes 2 hours. You can also take the Express Train for your return to Hong Kong. Alternatively, you can also take a coach which will take three hours.</p>
            <p>Understanding that some of our participants may need to go to Hong Kong for the 2018 Turbo Conference, a travel agent will be on site during ITW 2018. You can purchase your tickets through the agent.</p>
        </div>
    </section>
</article>
