<article id="home">
    <section class="row">
        <h4>About Sun Yat-sen University
            <hr>
        </h4>
        <div class="col-md-6 col-sm-6 col-lg-6" style="padding-right: 20px;">
            <iframe width="100%" height="300px" src="https://www.youtube.com/embed/65XAnde7b1w" frameborder="0" allowfullscreen></iframe>
        </div>
        <div>
            <p><a href="http://www.sysu.edu.cn/2012/en/index.htm" target="_blank">Sun Yat-sen University</a>, founded by Dr. Sun Yat-sen and with an educational tradition spanning over 100 years, is a preeminent University in mainland China. With the continuously support of the national and provincial governments, Sun Yat-sen University is now a modern and comprehensive university that enjoys a reputation as a domestic top-tier university and a renowned university worldwide. With five campuses spanning across Guangzhou, Zhuhai and Shenzhen, and ten affiliated hospitals, the University is striving to become a world-class university and a global center for learning.</p>
            <p>The University has a solid multidisciplinary foundation of humanities, social sciences, natural sciences, medical sciences, and engineering. Its motto of “博学 审问 深思 明辨 笃行”constituted by Dr. Sun Yat-sen, guilds its students and staffs’ continuous endeavor in searching for the truth and serving the society. The University also enjoys one of the most beautiful campuses in mainland China. The Guangzhou south campus is home to many historic buildings and artifacts and this is where the ITW 2018 will take place.</p>
        </div>
    </section>

    <section class="row">
        <h4>University Motto
            <hr>
        </h4>
        <p class="text-center"><img src="{{ url_for('static', filename='images/sysu_motto.jpg') }}"></p>
        <p class="text-center">"Study Extensively, Enquire Accurately, Reflect Carefully, Discriminate Clearly, Practice Earnestly"</p>
    </section>


</article>
