<article id="home">
    <section class="row">
        <h3>About Chinese Visa
            <hr>
        </h3>
        <div>
            <p>What is the main purpose of your visit to China and which is the most appropriate visa category for your application?
                <a href="http://cs.mfa.gov.cn/wgrlh/lhqz/lhqzjjs/t1095035.shtml" target="_blank">More information about Chinese visa</a>
            </p>
        </div>
    </section>
    <section class="row">
        <h3>How to Apply
            <hr>
        </h3>
        <div>
            <p>Citizens of the following countries can <a href="http://www.visaforchina.org/LON_EN/" target="_blank">click here</a>:
            </p>
            <p>Australia,Belgium,Canada,Denmark,France,Germany,India,Indonesia,Italy,Japan,Malaysia,Republic of Korea,The Netherlands,Singapore,Spain,South Africa,Sweden,Thailand,Turkey,United Kingdom.</p>
            <p>Citizens of the USA can <a href="http://www.china-embassy.org/eng/" target="_blank">click here</a>.</p>
            <p>Citizens of other counties can visit the corresponding Chinese Embassy in your country to apply for a Chinese Visa.</p>
        </div>
    </section>
    <section class="row">
        <h3>Tips
            <hr>
        </h3>
        <ul>
            <li>Please apply your Visa as early as possible.</li>
            <li>As for visit visa / entry permit requirements for the Hong Kong Special Administrative Region:
                <a href="http://www.immd.gov.hk/eng/services/visas/visit-transit/visit-visa-entry-permit.html" target="_blank">click here.</a>
            </li>
        </ul>
    </section>
</article>
