<article id="home">
    <section class="row">
        <h4> Visa Information
            <hr>
        </h4>
        <div>
            <p>Information about applying a Chinese visa can be found in <a href="http://cs.mfa.gov.cn">here</a></p>
            <p>Citizens of the following countries can visit China without a visa.</p>

        </div>
    </section>
    <section class="row">
        <h4>How to Apply
            <hr>
        </h4>
        <div>
            <p>Citizens of the following countries can <a href="http://www.visaforchina.org/LON_EN/" target="_blank">click here</a>:
            </p>
            <p>Australia, Belgium, Canada, Denmark, France, Germany, India, Indonesia, Italy, Japan, Malaysia, Republic of Korea, The Netherlands, Singapore, Spain, South Africa, Sweden, Thailand, Turkey, United Kingdom.</p>
            <p>Citizens of the USA can <a href="http://www.china-embassy.org/eng/" target="_blank">click here</a>.</p>
            <p>Citizens of other counties can visit the corresponding Chinese Embassy in your country to apply for a Chinese Visa.</p>
        </div>
    </section>
    <section class="row">
        <h4>Tips
            <hr>
        </h4>
        <ul>
            <li>Please apply your visa as early as possible.</li>
            <li>As for visit visa / entry permit requirements for Hong Kong Special Administrative Region:
                <a href="http://www.immd.gov.hk/eng/services/visas/visit-transit/visit-visa-entry-permit.html" target="_blank">click here.</a>
            </li>
        </ul>
    </section>
</article>
