<article id="home">
    <section class="row">
        <h4> Visa Information
            <hr>
        </h4>
        <div>
            <p>Information about applying a Chinese visa can be found in <a href="http://cs.mfa.gov.cn/wgrlh/lhqz/lhqzjjs/" target="_blank">here</a></p>
        </div>
    </section>
    <section class="row">
        <h4>How to Apply
            <hr>
        </h4>
        <div>
            <p>Citizens of the following countries can <a href="http://www.visaforchina.org/" target="_blank">click here</a>:
            </p>
            <p>Australia, Belgium, Canada, Denmark, France, Germany, India, Indonesia, Italy, Japan, Malaysia, Republic of Korea, The Netherlands, Singapore, Spain, South Africa, Sweden, Thailand, Turkey, United Kingdom.</p>
{#          <p>Citizens of the USA can <a href="http://www.china-embassy.org/eng/" target="_blank">click here</a>.</p>#}

            <p>The following is a summary and digest for the US-based participants in ITW 2018, collected purely for the convenience of our attendees, and offered without any express or implied warranty.</p>

            <ul>
                <li>1. For visa types and a check-list for needed documents:  <a href="http://www.china-embassy.org/eng/visas/hrsq/" target="_blank">http://www.china-embassy.org/eng/visas/hrsq/</a></li>
                <li>2. For visa processing times and fees please see: <a href="http://www.china-embassy.org/eng/visas/fees/" target="_blank">http://www.china-embassy.org/eng/visas/fees/</a></li>
                <li>3. There are 6 Chinese consulates in the US, each serving residents of specific US states. Please see <a href="http://www.china-embassy.org/eng/zmzlljs/t84229.htm" target="_blank">http://www.china-embassy.org/eng/zmzlljs/t84229.htm</a></li>
                <li>4. As of the time of this writing, the consulates do not accept visa applications via the  mail, and do not mail back the passport either. Because the visa processing time can take several days, the following information may be useful: there are visa processing firms that for a certain fee will receive your documents via mail, deliver it by hand to the consulate, and after the visa application has been processed, will retrieve your passport and mail it back to you. For applicants that do not live close to Washington DC, Chicago, Los Angeles, Houston, San Francisco, or New York, using these firms may be an attractive alternative compared with traveling and waiting for your visa to be processed. ITW2018 does not endorse any of these firms specifically, but they can be found via google search.</li>
            </ul>

            <p>Citizens of other counties can visit the nearest Chinese Consulate to apply for a Chinese visa.</p>
        </div>
    </section>
    <section class="row">
        <h4>Tips
            <hr>
        </h4>
        <ul>
            <li>Please apply for your visa as early as possible.</li>
            <li>The visa application category is F. For more details, <a href="http://www.visabureau.com/worldwide/chinese-visa.aspx" target="_blank">click here </a></li>
            <li>As for visit visa / entry permit requirements for Hong Kong Special Administrative Region:
                <a href="http://www.immd.gov.hk/eng/services/visas/visit-transit/visit-visa-entry-permit.html" target="_blank">click here.</a>
            </li>
        </ul>
    </section>
</article>
